In [36]:
import pandas as pd
from haversine import haversine as hvs, Unit
import numpy as np

# corregir puntos de stops

In [37]:
def splitPoint(row):
    row['latitude'] = row['WKT'].split()[2].strip()[:-1]
    row['longitude'] = row['WKT'].split()[1].strip()[1:]
    return row

data_busstops = pd.read_csv('stop_points.csv')
# data_busstops = data_busstops.apply(splitPoint, axis=1)
data_busstops = data_busstops.sort_values(by='number').reset_index(drop=True)
data_busstops = data_busstops.drop(['number', 'WKT'], axis=1) # escoger los paraderos de ida
# data_busstops['id'] = range(36, len(data_busstops)+36)
data_busstops['id'] = data_busstops['id'].apply(lambda id: str(int(id)))
data_busstops['navigation'] = data_busstops['navigation'].values.astype(np.int64)
data_busstops['radio'] = data_busstops['radio'].values.astype(np.int64)

# data_busstops.append(pd.Series([0, 'start', 0, ]))
data_busstops

     id             name  navigation   latitude  longitude  radio
0     0           inicio         159 -13.554978 -71.856025     30
1    36      primer stop         304 -13.554812 -71.857300     18
2    37     segundo stop         281 -13.553294 -71.861944     13
3    38         Ccollana         283 -13.552296 -71.867299      9
4    39  Puente Huaccoto         283 -13.551592 -71.870211     10
..  ...              ...         ...        ...        ...    ...
79  114          Segundo         221 -13.547528 -71.985248     10
80  115       Reservorio         225 -13.549660 -71.988003     10
81  116           Cuarto         230 -13.550408 -71.988880     10
82  117           Quinto         203 -13.550841 -71.989448     10
83  118            Sexto          53 -13.551707 -71.990950     10

[84 rows x 6 columns]

In [39]:
# df_stops_ida = pd.read_csv('busstops_ida.csv')
# data_busstops['radio'] = df_stops_ida['radio']
# data_busstops

In [40]:
data_busstops.to_csv('busstops_ida.csv')

# Extraer en CSV

In [41]:
# leer dataset monitoring
dt = pd.read_csv('monitoring.csv')

# parametros de extraccion
lap = 2
vehicle =  dt['vehicle_id_id'].unique()[1]

# diseño del df
dt_veh = dt[dt['vehicle_id_id'] == vehicle].copy()
dt_veh['date'] += ' ' + dt_veh['time']
dt_veh.drop('time', axis=1)
dt_veh = dt_veh.rename(columns={'date':'date_time'}, inplace=False)
dt_veh = dt_veh[dt_veh['lap'] == lap]

# ordenar por data time
dt_veh = dt_veh.sort_values(by='date_time').reset_index(drop=True)
dt_veh

,id,date_time,time,lap,latitude,longitude,velocity,navigation,vehicle_id_id
0,21985339,2022-07-14 09:28:00,09:28:00,2,-13.554798,-71.856023,13,142,SJ07
1,21985423,2022-07-14 09:28:23,09:28:23,2,-13.555658,-71.855720,12,192,SJ07
2,21985494,2022-07-14 09:28:40,09:28:40,2,-13.555495,-71.856421,26,302,SJ07
3,21985541,2022-07-14 09:28:52,09:28:52,2,-13.554922,-71.857206,31,307,SJ07
4,21985657,2022-07-14 09:29:22,09:29:22,2,-13.554503,-71.857861,19,301,SJ07
...,...,...,...,...,...,...,...,...,...
460,22022195,2022-07-14 12:12:47,12:12:47,2,-13.554551,-71.857790,50,124,SJ07
461,22022291,2022-07-14 12:13:10,12:13:10,2,-13.555091,-71.857032,23,122,SJ07
462,22022339,2022-07-14 12:13:22,12:13:22,2,-13.555630,-71.856229,30,120,SJ07
463,22022416,2022-07-14 12:13:45,12:13:45,2,-13.555490,-71.855770,10,332,SJ07
464,22022502,2022-07-14 12:14:09,12:14:09,2,-13.554887,-71.856147,9,289,SJ07

In [42]:
if 'lap' not in dt_veh.columns:
    dt_veh.to_csv('monitoring_veh/' + str(vehicle) + '.csv')
else:
    dt_veh.to_csv('monitoring_veh_lap/' + str(vehicle) + '-lap' + str(lap) + '.csv')