In [1]:
import pandas as pd

# leer dataset 
samples_nans = pd.read_csv('../data/samples_nans.csv', sep=',')
samples_nans['date_time_init'] = pd.to_datetime(samples_nans['date_time_init'])
samples_nans['date_time_end'] = pd.to_datetime(samples_nans['date_time_end'])
samples_nans

,id_sample,id_link,init_stop,init_name,end_stop,end_name,link,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
0,0,0,100,inicio,101,primer stop,100:101,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,101,primer stop,102,segundo stop,101:102,2023-03-01 07:27:33,2023-03-01 07:29:19,106.0,13190622.0,13190922.0,SJ01,1.0,2023-03-01
2,0,2,102,segundo stop,103,Ccollana,102:103,2023-03-01 07:29:19,2023-03-01 07:30:49,90.0,13190922.0,13191197.0,SJ01,1.0,2023-03-01
3,0,3,103,Ccollana,104,Puente Huaccoto,103:104,2023-03-01 07:30:49,2023-03-01 07:31:13,24.0,13191197.0,13191276.0,SJ01,1.0,2023-03-01
4,0,4,104,Puente Huaccoto,105,Kayra,104:105,2023-03-01 07:31:13,2023-03-01 07:32:29,76.0,13191276.0,13191535.0,SJ01,1.0,2023-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278958,3360,78,178,Primero,179,Segundo,178:179,2023-03-25 11:08:40,2023-03-25 11:08:52,12.0,17265203.0,17265239.0,SJ42,2.0,2023-03-25
278959,3360,79,179,Segundo,180,Reservorio,179:180,2023-03-25 11:08:52,2023-03-25 11:09:16,24.0,17265239.0,17265310.0,SJ42,2.0,2023-03-25
278960,3360,80,180,Reservorio,181,Cuarto,180:181,2023-03-25 11:09:16,2023-03-25 11:09:28,12.0,17265310.0,17265340.0,SJ42,2.0,2023-03-25
278961,3360,81,181,Cuarto,182,Quinto,181:182,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
278962,3360,82,182,Quinto,183,Sexto,182:183,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import numpy as np

can_nans = samples_nans['time_travel'].isna().sum()
print(f"{can_nans} nans de {samples_nans.shape[0]} rows equivale {can_nans*100/samples_nans.shape[0]:0.0f}%")

41122 nans de 278963 rows equivale 15%

### Reemplazar NaNs con promedios

In [9]:
from more_itertools import consecutive_groups

def intervals(numeros):
    intervals = []
    for group in consecutive_groups(numeros):
        group = list(group)
        if len(group) == 1:
            intervals.append(tuple(group))
        else:
            intervals.append(tuple(group))

    return intervals

In [10]:
samples_nans = samples_nans[samples_nans['id_sample'] < 5]

In [12]:
from datetime import datetime, timedelta

means_dict = samples_nans.groupby('link', observed=False).agg({'time_travel':[np.mean]})[('time_travel', 'mean')].to_list()

list_df_listos = [] 
for id, df_sample in samples_nans.groupby('id_sample'):
    # identificar los intervalos con nans
    df_sample.reset_index(inplace=True)
    index_nans = df_sample.index[pd.isna(df_sample['time_travel'])]
    inter_nans = intervals(list(index_nans))
    df_sample.insert(loc=2, column='id_linkref', value=df_sample.index)
    print(inter_nans)

    for gap in inter_nans:
        # generar los time travel
        means = [means_dict[i] for i in gap]

        # si hay nans en el medio, ajustamos means
        if gap[0] != 0 and gap[-1] != 82:
            time_init = df_sample.loc[gap[0] - 1, 'date_time_end']
            time_end = df_sample.loc[gap[-1] + 1, 'date_time_init']
            dif_time =  time_end - time_init
            means = list(map(lambda e: dif_time.total_seconds() * (e / sum(means)), means))

        # colocamos means
        for i in range(len(gap)):
            df_sample.loc[gap[i], 'time_travel'] = round(means[i], 0)
            if 0 not in gap:
                df_sample.loc[gap[i], 'date_time_init'] = df_sample.loc[gap[i]-1, 'date_time_end']
                df_sample.loc[gap[i], 'date_time_end'] = df_sample.loc[gap[i], 'date_time_init'] + timedelta(seconds=round(means[i], 0))
            else:
                j = (i+1)*(-1)
                df_sample.loc[gap[j], 'date_time_end'] = df_sample.loc[gap[j]+1, 'date_time_init']
                df_sample.loc[gap[j], 'date_time_init'] = df_sample.loc[gap[j], 'date_time_end'] - timedelta(seconds=round(means[i], 0))

    df_sample.drop(columns=['index', 'id_link'], inplace=True)                
    list_df_listos.append(df_sample)

[(0,), (15, 16), (24, 25)]
[(61, 62), (65, 66)]
[(21, 22, 23, 24, 25), (28, 29), (56, 57), (78, 79)]
[(0, 1, 2, 3), (30, 31), (59, 60), (78, 79), (82,)]
[(0,), (4, 5), (21, 22), (63, 64, 65), (73, 74), (76, 77, 78)]

In [3]:
# Extraer los samples con tiempo que sobrepasan el min y max permitido
min = 10
max = 1500
list_err = []
listo = []
# samplesdf = pd.concat(list_df_listos)
samplesdf = samples_nans.copy()
for id, sampledf in samplesdf.groupby('id_sample'):
    min_sample = sampledf['time_travel'].min()
    max_sample = sampledf['time_travel'].max()
    if (min_sample < min) or (max_sample > max):
        list_err.append(sampledf)
    else:
        listo.append(sampledf)

# Mostrar
print(f"{len(listo)} samples correctos")
print(f"{len(list_err)} samples con max, min trave times erroneos")

118 samples correctos
0 samples con max, min trave times erroneos

In [4]:
samplesdf

,id_sample,id_link,init_stop,init_name,end_stop,end_name,link,date_time_init,date_time_end,time_travel,veh,lap,date
0,0,0,100,inicio,101,primer stop,100:101,2023-07-06 08:56:58,2023-07-06 08:58:25,87.0,SJ01,2.0,2023-07-06
1,0,1,101,primer stop,102,segundo stop,101:102,2023-07-06 08:58:25,2023-07-06 08:59:25,60.0,SJ01,2.0,2023-07-06
2,0,2,102,segundo stop,103,Ccollana,102:103,2023-07-06 08:59:25,2023-07-06 09:00:29,64.0,SJ01,2.0,2023-07-06
3,0,3,103,Ccollana,104,Puente Huaccoto,103:104,2023-07-06 09:00:29,2023-07-06 09:01:15,46.0,SJ01,2.0,2023-07-06
4,0,4,104,Puente Huaccoto,105,Kayra,104:105,2023-07-06 09:01:15,2023-07-06 09:02:05,50.0,SJ01,2.0,2023-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9789,117,78,178,Primero,179,Segundo,178:179,2023-07-06 16:13:01,2023-07-06 16:13:13,12.0,SJ43,5.0,2023-07-06
9790,117,79,179,Segundo,180,Reservorio,179:180,2023-07-06 16:13:13,2023-07-06 16:13:49,36.0,SJ43,5.0,2023-07-06
9791,117,80,180,Reservorio,181,Cuarto,180:181,2023-07-06 16:13:49,2023-07-06 16:14:01,12.0,SJ43,5.0,2023-07-06
9792,117,81,181,Cuarto,182,Quinto,181:182,2023-07-06 16:14:01,2023-07-06 16:14:13,12.0,SJ43,5.0,2023-07-06
9793,117,82,182,Quinto,183,Sexto,182:183,2023-07-06 16:14:13,2023-07-06 16:14:50,37.0,SJ43,5.0,2023-07-06

In [5]:
# verificar maximos y minimos
data = pd.concat(listo).copy().reset_index(drop=True)
print('Minimos:')
print(data.nsmallest(10, 'time_travel')['time_travel'].to_string())
print('='*20)
print('Maximos:')
print(data.nlargest(10, 'time_travel')['time_travel'].to_string())

Minimos:
10     12.0
20     12.0
29     12.0
32     12.0
77     12.0
81     12.0
101    12.0
113    12.0
130    12.0
160    12.0
====================
Maximos:
913     1257.0
4899    1160.0
2490     772.0
2074     696.0
6058     647.0
8051     494.0
5814     470.0
471      464.0
7858     436.0
2794     412.0

In [12]:
# NANs
# verificar si hay datos faltantes
print("Cantidad de NaNs:")
for col in data:
    nans = data[col].isna().sum()
    print(f"\tColumna {col}: {nans}")

Cantidad de NaNs:
	Columna id_sample: 0
	Columna id_link: 0
	Columna init_stop: 0
	Columna init_name: 0
	Columna end_stop: 0
	Columna end_name: 0
	Columna link: 0
	Columna date_time_init: 0
	Columna date_time_end: 0
	Columna time_travel: 0
	Columna veh: 0
	Columna lap: 0
	Columna date: 0
	Columna time: 0

In [11]:
data = data[~data['time_travel'].isna()]
data

,id_sample,id_link,init_stop,init_name,end_stop,end_name,link,date_time_init,date_time_end,time_travel,veh,lap,date,time
0,0,0,100,inicio,101,primer stop,100:101,2023-07-06 08:56:58,2023-07-06 08:58:25,87.0,SJ01,2.0,2023-07-06,08:00:00
1,0,1,101,primer stop,102,segundo stop,101:102,2023-07-06 08:58:25,2023-07-06 08:59:25,60.0,SJ01,2.0,2023-07-06,08:00:00
2,0,2,102,segundo stop,103,Ccollana,102:103,2023-07-06 08:59:25,2023-07-06 09:00:29,64.0,SJ01,2.0,2023-07-06,09:00:00
3,0,3,103,Ccollana,104,Puente Huaccoto,103:104,2023-07-06 09:00:29,2023-07-06 09:01:15,46.0,SJ01,2.0,2023-07-06,09:00:00
4,0,4,104,Puente Huaccoto,105,Kayra,104:105,2023-07-06 09:01:15,2023-07-06 09:02:05,50.0,SJ01,2.0,2023-07-06,09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9789,117,78,178,Primero,179,Segundo,178:179,2023-07-06 16:13:01,2023-07-06 16:13:13,12.0,SJ43,5.0,2023-07-06,16:00:00
9790,117,79,179,Segundo,180,Reservorio,179:180,2023-07-06 16:13:13,2023-07-06 16:13:49,36.0,SJ43,5.0,2023-07-06,16:00:00
9791,117,80,180,Reservorio,181,Cuarto,180:181,2023-07-06 16:13:49,2023-07-06 16:14:01,12.0,SJ43,5.0,2023-07-06,16:00:00
9792,117,81,181,Cuarto,182,Quinto,181:182,2023-07-06 16:14:01,2023-07-06 16:14:13,12.0,SJ43,5.0,2023-07-06,16:00:00
9793,117,82,182,Quinto,183,Sexto,182:183,2023-07-06 16:14:13,2023-07-06 16:14:50,37.0,SJ43,5.0,2023-07-06,16:00:00

### Poner intervalos de tiempo

In [13]:
import pandas as pd
from collections import Counter
from datetime import datetime, time, timedelta

# Convertir las columnas de tiempo en datetime
data['date_time_init'] = pd.to_datetime(data['date_time_init'])
data['date_time_end'] = pd.to_datetime(data['date_time_end'])

# aproximar a horas las datetime (para hacer el histograma)
ix = pd.DatetimeIndex(data['date_time_end']).floor('1h')
data['time'] = ix
data['time'] = data['time'].apply(lambda dt: str(dt).split()[-1]) #

# Extraer la hora en otro columna
data['hour'] = data['date_time_end'].apply(lambda dt: dt.time().strftime("%H:%M:%S"))
data.head()

,id_sample,id_link,init_stop,init_name,end_stop,end_name,link,date_time_init,date_time_end,time_travel,veh,lap,date,time,hour
0,0,0,100,inicio,101,primer stop,100:101,2023-07-06 08:56:58,2023-07-06 08:58:25,87.0,SJ01,2.0,2023-07-06,08:00:00,08:58:25
1,0,1,101,primer stop,102,segundo stop,101:102,2023-07-06 08:58:25,2023-07-06 08:59:25,60.0,SJ01,2.0,2023-07-06,08:00:00,08:59:25
2,0,2,102,segundo stop,103,Ccollana,102:103,2023-07-06 08:59:25,2023-07-06 09:00:29,64.0,SJ01,2.0,2023-07-06,09:00:00,09:00:29
3,0,3,103,Ccollana,104,Puente Huaccoto,103:104,2023-07-06 09:00:29,2023-07-06 09:01:15,46.0,SJ01,2.0,2023-07-06,09:00:00,09:01:15
4,0,4,104,Puente Huaccoto,105,Kayra,104:105,2023-07-06 09:01:15,2023-07-06 09:02:05,50.0,SJ01,2.0,2023-07-06,09:00:00,09:02:05

In [14]:
def redondear_hora(dt, split):
    m = int(round(dt.time().minute/split, 0))*split
    if m == 60 or dt.time().hour == 4: 
        return time(dt.time().hour + 1, 0)   
    else:
        return time(dt.time().hour, m)   

#  Aproximar la 'hora' en intervalos de tiempo n minutos
n = 15
name_col = 'rg' + str(n)+'min'
data[name_col] = data['date_time_end'].apply(redondear_hora, split=n)
data.head(85)

,id_sample,id_link,init_stop,init_name,end_stop,end_name,link,date_time_init,date_time_end,time_travel,veh,lap,date,time,hour,rg15min
0,0,0,100,inicio,101,primer stop,100:101,2023-07-06 08:56:58,2023-07-06 08:58:25,87.0,SJ01,2.0,2023-07-06,08:00:00,08:58:25,09:00:00
1,0,1,101,primer stop,102,segundo stop,101:102,2023-07-06 08:58:25,2023-07-06 08:59:25,60.0,SJ01,2.0,2023-07-06,08:00:00,08:59:25,09:00:00
2,0,2,102,segundo stop,103,Ccollana,102:103,2023-07-06 08:59:25,2023-07-06 09:00:29,64.0,SJ01,2.0,2023-07-06,09:00:00,09:00:29,09:00:00
3,0,3,103,Ccollana,104,Puente Huaccoto,103:104,2023-07-06 09:00:29,2023-07-06 09:01:15,46.0,SJ01,2.0,2023-07-06,09:00:00,09:01:15,09:00:00
4,0,4,104,Puente Huaccoto,105,Kayra,104:105,2023-07-06 09:01:15,2023-07-06 09:02:05,50.0,SJ01,2.0,2023-07-06,09:00:00,09:02:05,09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1,4,104,Puente Huaccoto,105,Kayra,104:105,2023-07-06 12:35:50,2023-07-06 12:36:43,53.0,SJ01,3.0,2023-07-06,12:00:00,12:36:43,12:30:00
88,1,5,105,Kayra,106,Forestal,105:106,2023-07-06 12:36:43,2023-07-06 12:37:07,24.0,SJ01,3.0,2023-07-06,12:00:00,12:37:07,12:30:00
89,1,6,106,Forestal,107,Grifo Tapia,106:107,2023-07-06 12:37:07,2023-07-06 12:37:31,24.0,SJ01,3.0,2023-07-06,12:00:00,12:37:31,12:30:00
90,1,7,107,Grifo Tapia,108,Posta,107:108,2023-07-06 12:37:31,2023-07-06 12:37:55,24.0,SJ01,3.0,2023-07-06,12:00:00,12:37:55,12:30:00
91,1,8,108,Posta,109,Romeritos,108:109,2023-07-06 12:37:55,2023-07-06 12:38:11,16.0,SJ01,3.0,2023-07-06,12:00:00,12:38:11,12:45:00

In [15]:
# dividir las horas y minutos en diferentes columnas
data['horas'] = data['rg15min'].apply(lambda t: t.hour)
data['minute'] = data['rg15min'].apply(lambda t: t.minute)
data

,id_sample,id_link,init_stop,init_name,end_stop,end_name,link,date_time_init,date_time_end,time_travel,veh,lap,date,time,hour,rg15min,horas,minute
0,0,0,100,inicio,101,primer stop,100:101,2023-07-06 08:56:58,2023-07-06 08:58:25,87.0,SJ01,2.0,2023-07-06,08:00:00,08:58:25,09:00:00,9,0
1,0,1,101,primer stop,102,segundo stop,101:102,2023-07-06 08:58:25,2023-07-06 08:59:25,60.0,SJ01,2.0,2023-07-06,08:00:00,08:59:25,09:00:00,9,0
2,0,2,102,segundo stop,103,Ccollana,102:103,2023-07-06 08:59:25,2023-07-06 09:00:29,64.0,SJ01,2.0,2023-07-06,09:00:00,09:00:29,09:00:00,9,0
3,0,3,103,Ccollana,104,Puente Huaccoto,103:104,2023-07-06 09:00:29,2023-07-06 09:01:15,46.0,SJ01,2.0,2023-07-06,09:00:00,09:01:15,09:00:00,9,0
4,0,4,104,Puente Huaccoto,105,Kayra,104:105,2023-07-06 09:01:15,2023-07-06 09:02:05,50.0,SJ01,2.0,2023-07-06,09:00:00,09:02:05,09:00:00,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9789,117,78,178,Primero,179,Segundo,178:179,2023-07-06 16:13:01,2023-07-06 16:13:13,12.0,SJ43,5.0,2023-07-06,16:00:00,16:13:13,16:15:00,16,15
9790,117,79,179,Segundo,180,Reservorio,179:180,2023-07-06 16:13:13,2023-07-06 16:13:49,36.0,SJ43,5.0,2023-07-06,16:00:00,16:13:49,16:15:00,16,15
9791,117,80,180,Reservorio,181,Cuarto,180:181,2023-07-06 16:13:49,2023-07-06 16:14:01,12.0,SJ43,5.0,2023-07-06,16:00:00,16:14:01,16:15:00,16,15
9792,117,81,181,Cuarto,182,Quinto,181:182,2023-07-06 16:14:01,2023-07-06 16:14:13,12.0,SJ43,5.0,2023-07-06,16:00:00,16:14:13,16:15:00,16,15
9793,117,82,182,Quinto,183,Sexto,182:183,2023-07-06 16:14:13,2023-07-06 16:14:50,37.0,SJ43,5.0,2023-07-06,16:00:00,16:14:50,16:15:00,16,15

In [146]:
import numpy as np
means_dict = data.groupby('link', observed=False).agg({'time_travel':[np.mean]})[('time_travel', 'mean')]
std_dict = data.groupby('link', observed=False).agg({'time_travel':[np.std]})[('time_travel', 'std')]
print('promedio de travel time por link:', data['time_travel'].mean(),np.mean(means_dict.to_list()))
li = '156:157'
means_dict[li], std_dict[li]

promedio de travel time por link: 59.520059215396 59.32441171693339

(175.11764705882354, 91.8893500959955)

In [144]:
id = data[data['horas'] == 14]['id_sample'].unique()
print(id)
tmp = np.random.choice(id)
dftmp = data[data['id_sample'] == tmp]
c = ['init_name', 'end_name', 'init_stop', 'end_stop', 'horas', 'minute', 'time_travel', 'id_sample']
print(dftmp[c].to_string())

[  4  14  18  22  26  30  37  40  44  48  51  54  57  62  66  73  79  83
  87  91  95  99 112]
                      init_name                   end_name  init_stop  end_stop  horas  minute  time_travel  id_sample
7225            Puente Huaccoto                      Kayra        104       105     13       0         55.0         87
7226                      Kayra                   Forestal        105       106     13       0         67.0         87
7227                   Forestal                Grifo Tapia        106       107     13      15         36.0         87
7228                Grifo Tapia                      Posta        107       108     13      15         37.0         87
7229                      Posta                  Romeritos        108       109     13      15         22.0         87
7230                  Romeritos                    Tercero        109       110     13      15         36.0         87
7231                    Tercero                      Medio        110       111     13      15         12.0         87
7232                      Medio                   Farmacia        111       112     13      15         79.0         87
7235                    Control                   San Juan        114       115     13      15        179.0         87
7236                   San Juan             Penal Quencoro        115       116     13      15         72.0         87
7237             Penal Quencoro                 Miraflores        116       117     13      15         30.0         87
7240                    Maestro                      Tingo        119       120     13      15         51.0         87
7241                      Tingo                   Teléfono        120       121     13      15         24.0         87
7242                   Teléfono         Universidad Andina        121       122     13      15         24.0         87
7243         Universidad Andina                      Grifo        122       123     13      15         41.0         87
7244                      Grifo         Puente Tupac Amarú        123       124     13      15         49.0         87
7245         Puente Tupac Amarú                  Cachimayo        124       125     13      15         28.0         87
7246                  Cachimayo                      Enaco        125       126     13      30         48.0         87
7247                      Enaco                 Sol de oro        126       127     13      30         67.0         87
7248                 Sol de oro                 San Miguel        127       128     13      30         24.0         87
7249                 San Miguel                 Mercadillo        128       129     13      30         36.0         87
7250                 Mercadillo                 Santa Rosa        129       130     13      30         56.0         87
7251                 Santa Rosa                  Camionero        130       131     13      30         12.0         87
7254                      Sexto                     Quinto        133       134     13      30         54.0         87
7255                     Quinto                     Cuarto        134       135     13      30         27.0         87
7256                     Cuarto                    Tercero        135       136     13      30         78.0         87
7257                    Tercero                    Segundo        136       137     13      30         12.0         87
7258                    Segundo                   Callejon        137       138     13      30         53.0         87
7259                   Callejon                    Primero        138       139     13      30         24.0         87
7263                 Magisterio                  Seminario        142       143     13      45        171.0         87
7264                  Seminario                      Prado        143       144     13      45         92.0         87
7265                      Prado          Hospital regional        144       145     13      45         36.0         87
7266          Hospital regional  Puerta Universidad UNSAAC        145       146     13      45         97.0         87
7267  Puerta Universidad UNSAAC                     Amauta        146       147     13      45        149.0         87
7268                     Amauta                Servicentro        147       148     13      45         34.0         87
7269                Servicentro          Colegio Garcilaso        148       149     13      45         24.0         87
7270          Colegio Garcilaso           Colegio Clorinda        149       150     13      45        133.0         87
7271           Colegio Clorinda           Mercado Wuanchaq        150       151     13      45        145.0         87
7272           Mercado Wuanchaq                     Paccha        151       152     13      45         19.0         87
7273                     Paccha                   Estación        152       153     13      45         85.0         87
7274                   Estación                     Gradas        153       154     14       0         88.0         87
7275                     Gradas                Puente Grau        154       155     14       0        100.0         87
7276                Puente Grau                      Belén        155       156     14       0        153.0         87
7277                      Belén   Centro comercial Paraíso        156       157     14       0        143.0         87
7278   Centro comercial Paraíso            Puente Santiago        157       158     14       0        101.0         87
7279            Puente Santiago             Plaza Santiago        158       159     14       0         94.0         87
7280             Plaza Santiago                    Colegio        159       160     14       0         72.0         87
7281                    Colegio           Entrada Zarzuela        160       161     14       0         53.0         87
7282           Entrada Zarzuela            Puente Zarzuela        161       162     14       0         58.0         87
7283            Puente Zarzuela            Primero de Mayo        162       163     14       0         67.0         87
7289                    Colegio                    Mercado        168       169     14      15         29.0         87
7290                    Mercado                     Puerto        169       170     14      15        134.0         87
7291                     Puerto                     Gradas        170       171     14      15         24.0         87
7292                     Gradas                    Esquina        171       172     14      15         24.0         87
7293                    Esquina                  Salcantay        172       173     14      15         12.0         87
7294                  Salcantay                     Puente        173       174     14      15         47.0         87
7297                    Esquina                     Subida        176       177     14      15         97.0         87
7298                     Subida                    Primero        177       178     14      15         12.0         87
7299                    Primero                    Segundo        178       179     14      15         12.0         87
7300                    Segundo                 Reservorio        179       180     14      15         63.0         87
7301                 Reservorio                     Cuarto        180       181     14      15         12.0         87
7302                     Cuarto                     Quinto        181       182     14      15         12.0         87
7303                     Quinto                      Sexto        182       183     14      15         61.0         87

In [16]:
# guardar datos listos para entrenar
data.to_csv("../data/travel_time_series-prueba.csv", index=False)