In [1]:
import pandas as pd
from haversine import haversine as hvs, Unit
import numpy as np
from collections import Counter
import math
from datetime import datetime, timedelta

# Procesar samples_with_nan

Crear una columna con un indice para los samples (1 sample es un recorrido completo)

In [ ]:
samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
# len(samples_with_nan['init_stop'].unique())   #83 paraderos  # 2560 samples con nan
#samples_with_nan['id_sample'] = samples_with_nan.apply(lambda row: int(row.name)//82) 
#samples_with_nan.apply(lambda row: int(row.name))#(//82) 
samples_with_nan['id_sample'] = samples_with_nan.index.map(lambda row: int(row)//83)
columna = samples_with_nan.pop('id_sample') # Extraemos la columna C y la guardamos en una variable
samples_with_nan.insert(0, 'id_sample', columna) # Insertamos la columna C en la posición 1
#samples_with_nan.to_csv('samples_with_nan.csv')
samples_with_nan.to_csv('samples_with_nan.csv', index=False)
samples_with_nan

Si no se borró la columna 'Unnamed: 0', eliminarla y volver a guardar el dataframe en csv

In [ ]:
#EJECUTAR CUANDO EXISTA LA COLUMNA UNNAMED 0
samples_with_nan = pd.read_csv('samples_with_nan.csv', index_col=None)
samples_with_nan.drop(columns=['Unnamed: 0'], inplace=True)
samples_with_nan.to_csv('samples_with_nan.csv', index=False)
samples_with_nan

### Filtro de samples de la columna time_travel para mostrar todos los menores a 12 segundos

In [5]:
samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
#samples_with_nan.nlargest(50,columns='time_travel')
#samples_with_nan[samples_with_nan['time_travel']>=960]['id_sample'].unique #960 segundos equivale a 10 minutos
samples_with_nan[samples_with_nan['time_travel']<12]['id_sample'].unique().shape #960 segundos equivale a 10 minutos

(13,)

In [11]:
samples_with_nan.nlargest(30, 'time_travel')

,id_sample,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
57676,694,109,110,109:110,2023-03-07 06:31:39,2023-03-07 20:23:56,49937.0,14166346.0,14311788.0,SJ18,5.0,2023-03-07
57675,694,108,109,108:109,2023-03-07 20:23:05,2023-03-07 06:31:39,49886.0,14311656.0,14166346.0,SJ18,5.0,2023-03-07
104579,1259,117,118,117:118,2023-03-13 16:45:39,2023-03-13 07:01:27,35052.0,15222719.0,15115550.0,SJ25,3.0,2023-03-13
159233,1918,74,75,74:75,2023-03-19 05:32:34,2023-03-19 14:49:02,33388.0,16167716.0,16225225.0,SJ38,3.0,2023-03-19
159261,1918,102,103,102:103,2023-03-19 06:02:57,2023-03-19 15:18:24,33327.0,16169211.0,16228375.0,SJ38,3.0,2023-03-19
159257,1918,98,99,98:99,2023-03-19 06:00:34,2023-03-19 15:15:46,33312.0,16169197.0,16228156.0,SJ38,3.0,2023-03-19
159232,1918,73,74,73:74,2023-03-19 14:47:26,2023-03-19 05:32:34,33292.0,16225047.0,16167716.0,SJ38,3.0,2023-03-19
159260,1918,101,102,101:102,2023-03-19 15:17:21,2023-03-19 06:02:57,33264.0,16228268.0,16169211.0,SJ38,3.0,2023-03-19
159256,1918,97,98,97:98,2023-03-19 15:14:25,2023-03-19 06:00:34,33231.0,16227926.0,16169197.0,SJ38,3.0,2023-03-19
191083,2302,52,53,52:53,2023-03-23 06:24:57,2023-03-23 12:42:09,22632.0,16838722.0,16914486.0,SJ06,3.0,2023-03-23
191082,2302,51,52,51:52,2023-03-23 12:41:10,2023-03-23 06:24:57,22573.0,16914261.0,16838722.0,SJ06,3.0,2023-03-23
154995,1867,69,70,69:70,2023-03-19 05:23:17,2023-03-19 11:02:10,20333.0,16167596.0,16199519.0,SJ06,2.0,2023-03-19
154994,1867,68,69,68:69,2023-03-19 11:01:12,2023-03-19 05:23:17,20275.0,16199405.0,16167596.0,SJ06,2.0,2023-03-19
7059,85,39,40,39:40,2023-03-01 05:59:04,2023-03-01 09:24:48,12344.0,13176888.0,13214392.0,SJ29,1.0,2023-03-01
166332,2004,0,36,0:36,2023-03-20 15:01:48,2023-03-20 11:37:34,12254.0,16369871.0,16330995.0,SJ29,2.0,2023-03-20
7060,85,40,41,40:41,2023-03-01 09:24:48,2023-03-01 06:00:40,12248.0,13214392.0,13177034.0,SJ29,1.0,2023-03-01
16268,196,0,36,0:36,2023-03-02 15:45:44,2023-03-02 19:02:06,11782.0,13477485.0,13515641.0,SJ23,4.0,2023-03-02
195797,2359,0,36,0:36,2023-03-23 12:49:45,2023-03-23 09:33:28,11777.0,16916001.0,16876417.0,SJ29,2.0,2023-03-23
16269,196,36,37,36:37,2023-03-02 19:02:06,2023-03-02 15:51:10,11456.0,13515641.0,13478477.0,SJ23,4.0,2023-03-02
12367,149,0,36,0:36,2023-03-02 10:07:53,2023-03-02 07:00:47,11226.0,13409542.0,13373100.0,SJ09,1.0,2023-03-02
176126,2122,0,36,0:36,2023-03-21 10:18:40,2023-03-21 07:12:44,11156.0,16499517.0,16463089.0,SJ29,1.0,2023-03-21
174300,2100,0,36,0:36,2023-03-21 10:03:34,2023-03-21 07:00:46,10968.0,16496709.0,16460886.0,SJ23,1.0,2023-03-21
98186,1182,115,116,115:116,2023-03-12 09:24:49,2023-03-12 12:22:55,10686.0,15028198.0,15051513.0,SJ31,1.0,2023-03-12
98155,1182,84,85,84:85,2023-03-12 08:57:25,2023-03-12 11:55:04,10659.0,15023944.0,15047878.0,SJ31,1.0,2023-03-12
98180,1182,109,110,109:110,2023-03-12 09:21:46,2023-03-12 12:19:04,10638.0,15027702.0,15051031.0,SJ31,1.0,2023-03-12
98184,1182,113,114,113:114,2023-03-12 09:24:12,2023-03-12 12:21:17,10625.0,15027948.0,15051346.0,SJ31,1.0,2023-03-12
98185,1182,114,115,114:115,2023-03-12 12:21:17,2023-03-12 09:24:49,10588.0,15051346.0,15028198.0,SJ31,1.0,2023-03-12
98164,1182,93,94,93:94,2023-03-12 09:12:00,2023-03-12 12:08:26,10586.0,15026451.0,15049366.0,SJ31,1.0,2023-03-12
98174,1182,103,104,103:104,2023-03-12 09:19:41,2023-03-12 12:15:54,10573.0,15027415.0,15050209.0,SJ31,1.0,2023-03-12
98150,1182,79,80,79:80,2023-03-12 11:49:25,2023-03-12 08:53:30,10555.0,15047288.0,15023026.0,SJ31,1.0,2023-03-12

### Filtro de samples de la columna time_travel para moestrar todos los mayores a 960 segundos(10 minutos)

In [9]:
samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
#samples_with_nan.nlargest(50,columns='time_travel')
#samples_with_nan[samples_with_nan['time_travel']>=960]['id_sample'].unique #960 segundos equivale a 10 minutos
samples_with_nan[samples_with_nan['time_travel']>=960]['id_sample'].unique().shape #960 segundos equivale a 10 minutos

(56,)

In [12]:
samples_with_nan.nsmallest(30, 'time_travel')

,id_sample,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
167873,2022,82,83,82:83,2023-03-20 06:13:43,2023-03-20 06:13:53,10.0,16269633.0,16269656.0,SJ37,1.0,2023-03-20
1014,12,53,54,53:54,2023-03-01 10:55:49,2023-03-01 10:56:00,11.0,13233012.0,13233054.0,SJ05,2.0,2023-03-01
32070,386,67,68,67:68,2023-03-04 14:10:54,2023-03-04 14:11:05,11.0,13820185.0,13820219.0,SJ05,4.0,2023-03-04
46344,558,65,66,65:66,2023-03-06 12:54:52,2023-03-06 12:55:03,11.0,14059032.0,14059079.0,SJ05,3.0,2023-03-06
53899,649,67,68,67:68,2023-03-06 09:52:49,2023-03-06 09:53:00,11.0,14026068.0,14026111.0,SJ41,2.0,2023-03-06
117409,1414,82,83,82:83,2023-03-14 07:02:29,2023-03-14 07:02:40,11.0,15288247.0,15288284.0,SJ41,1.0,2023-03-14
129433,1559,71,72,71:72,2023-03-16 09:18:19,2023-03-16 09:18:30,11.0,15669142.0,15669187.0,SJ05,2.0,2023-03-16
146127,1760,82,83,82:83,2023-03-17 05:25:43,2023-03-17 05:25:54,11.0,15816980.0,15816990.0,SJ37,1.0,2023-03-17
147149,1772,108,109,108:109,2023-03-17 13:14:12,2023-03-17 13:14:23,11.0,15904671.0,15904705.0,SJ41,3.0,2023-03-17
147154,1772,113,114,113:114,2023-03-17 13:17:33,2023-03-17 13:17:44,11.0,15905251.0,15905286.0,SJ41,3.0,2023-03-17
183459,2210,64,65,64:65,2023-03-22 10:45:09,2023-03-22 10:45:20,11.0,16697771.0,16697792.0,SJ18,2.0,2023-03-22
187818,2262,107,108,107:108,2023-03-22 09:39:18,2023-03-22 09:39:29,11.0,16685005.0,16685052.0,SJ37,2.0,2023-03-22
187990,2264,113,114,113:114,2023-03-22 16:07:51,2023-03-22 16:08:02,11.0,16762003.0,16762036.0,SJ37,4.0,2023-03-22
200243,2412,82,83,82:83,2023-03-24 07:55:56,2023-03-24 07:56:07,11.0,17045379.0,17045415.0,SJ05,1.0,2023-03-24
7,0,42,43,42:43,2023-03-01 07:33:25,2023-03-01 07:33:37,12.0,13191699.0,13191737.0,SJ01,1.0,2023-03-01
8,0,43,44,43:44,2023-03-01 07:33:37,2023-03-01 07:33:49,12.0,13191737.0,13191788.0,SJ01,1.0,2023-03-01
20,0,55,56,55:56,2023-03-01 07:42:59,2023-03-01 07:43:11,12.0,13193461.0,13193493.0,SJ01,1.0,2023-03-01
77,0,112,113,112:113,2023-03-01 08:38:18,2023-03-01 08:38:30,12.0,13204585.0,13204642.0,SJ01,1.0,2023-03-01
78,0,113,114,113:114,2023-03-01 08:38:30,2023-03-01 08:38:42,12.0,13204642.0,13204654.0,SJ01,1.0,2023-03-01
106,1,58,59,58:59,2023-03-01 10:56:53,2023-03-01 10:57:05,12.0,13233260.0,13233303.0,SJ01,2.0,2023-03-01
113,1,65,66,65:66,2023-03-01 11:01:23,2023-03-01 11:01:35,12.0,13234158.0,13234199.0,SJ01,2.0,2023-03-01
115,1,67,68,67:68,2023-03-01 11:02:11,2023-03-01 11:02:23,12.0,13234323.0,13234358.0,SJ01,2.0,2023-03-01
161,1,113,114,113:114,2023-03-01 11:48:53,2023-03-01 11:49:05,12.0,13243687.0,13243731.0,SJ01,2.0,2023-03-01
163,1,115,116,115:116,2023-03-01 11:50:05,2023-03-01 11:50:17,12.0,13243928.0,13243962.0,SJ01,2.0,2023-03-01
164,1,116,117,116:117,2023-03-01 11:50:17,2023-03-01 11:50:29,12.0,13243962.0,13244007.0,SJ01,2.0,2023-03-01
193,2,62,63,62:63,2023-03-01 14:28:39,2023-03-01 14:28:51,12.0,13275676.0,13275712.0,SJ01,3.0,2023-03-01
237,2,106,107,106:107,2023-03-01 15:12:43,2023-03-01 15:12:55,12.0,13284645.0,13284682.0,SJ01,3.0,2023-03-01
247,2,116,117,116:117,2023-03-01 15:19:06,2023-03-01 15:19:18,12.0,13285880.0,13285922.0,SJ01,3.0,2023-03-01
256,3,42,43,42:43,2023-03-01 06:45:05,2023-03-01 06:45:17,12.0,13183042.0,13183072.0,SJ03,1.0,2023-03-01
259,3,45,46,45:46,2023-03-01 06:45:58,2023-03-01 06:46:10,12.0,13183180.0,13183223.0,SJ03,1.0,2023-03-01

# Porcentaje de nan en time_travel

In [6]:
samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
#samples_with_nan.nsmallest(50,columns='time_travel')
samples_with_nan['time_travel'].isna().sum()/samples_with_nan['time_travel'].shape[0]

0.14896460843373494

## Filtrar por fecha

In [7]:
samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
samples_with_nan['date_time_init'] = pd.to_datetime(samples_with_nan['date_time_init'])
samples_with_nan['date_time_end'] = pd.to_datetime(samples_with_nan['date_time_end'])

fecha_filtro = pd.to_datetime('2023-03-12').date()
df_filtrado = samples_with_nan[samples_with_nan['date_time_init'].dt.date == fecha_filtro]
df_filtrado.nsmallest(20, ['time_travel'])

,id_sample,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
95540,1151,42,43,42:43,2023-03-12 11:55:46,2023-03-12 11:55:58,12.0,15047959.0,15047983.0,SJ04,1.0,2023-03-12
95541,1151,43,44,43:44,2023-03-12 11:55:58,2023-03-12 11:56:10,12.0,15047983.0,15048008.0,SJ04,1.0,2023-03-12
95553,1151,55,56,55:56,2023-03-12 12:10:40,2023-03-12 12:10:52,12.0,15049606.0,15049626.0,SJ04,1.0,2023-03-12
95581,1151,83,84,83:84,2023-03-12 12:30:36,2023-03-12 12:30:48,12.0,15052341.0,15052344.0,SJ04,1.0,2023-03-12
95604,1151,106,107,106:107,2023-03-12 12:57:31,2023-03-12 12:57:43,12.0,15055259.0,15055291.0,SJ04,1.0,2023-03-12
95606,1151,108,109,108:109,2023-03-12 12:57:59,2023-03-12 12:58:11,12.0,15055322.0,15055343.0,SJ04,1.0,2023-03-12
95611,1151,113,114,113:114,2023-03-12 13:01:13,2023-03-12 13:01:25,12.0,15055652.0,15055672.0,SJ04,1.0,2023-03-12
95613,1151,115,116,115:116,2023-03-12 13:02:27,2023-03-12 13:02:39,12.0,15055782.0,15055803.0,SJ04,1.0,2023-03-12
95614,1151,116,117,116:117,2023-03-12 13:02:39,2023-03-12 13:02:51,12.0,15055803.0,15055820.0,SJ04,1.0,2023-03-12
95626,1152,45,46,45:46,2023-03-12 06:28:34,2023-03-12 06:28:46,12.0,15013171.0,15013176.0,SJ05,1.0,2023-03-12
95640,1152,59,60,59:60,2023-03-12 06:40:39,2023-03-12 06:40:51,12.0,15013374.0,15013376.0,SJ05,1.0,2023-03-12
95654,1152,73,74,73:74,2023-03-12 06:50:06,2023-03-12 06:50:18,12.0,15013556.0,15013559.0,SJ05,1.0,2023-03-12
95686,1152,105,106,105:106,2023-03-12 07:20:58,2023-03-12 07:21:10,12.0,15014041.0,15014045.0,SJ05,1.0,2023-03-12
95687,1152,106,107,106:107,2023-03-12 07:21:10,2023-03-12 07:21:22,12.0,15014045.0,15014050.0,SJ05,1.0,2023-03-12
95693,1152,112,113,112:113,2023-03-12 07:24:39,2023-03-12 07:24:51,12.0,15014102.0,15014105.0,SJ05,1.0,2023-03-12
95694,1152,113,114,113:114,2023-03-12 07:24:51,2023-03-12 07:25:03,12.0,15014105.0,15014113.0,SJ05,1.0,2023-03-12
95696,1152,115,116,115:116,2023-03-12 07:25:48,2023-03-12 07:26:00,12.0,15014339.0,15014343.0,SJ05,1.0,2023-03-12
95697,1152,116,117,116:117,2023-03-12 07:26:00,2023-03-12 07:26:12,12.0,15014343.0,15014345.0,SJ05,1.0,2023-03-12
95722,1153,58,59,58:59,2023-03-12 09:26:34,2023-03-12 09:26:46,12.0,15028480.0,15028498.0,SJ05,2.0,2023-03-12
95746,1153,82,83,82:83,2023-03-12 09:44:07,2023-03-12 09:44:19,12.0,15031935.0,15031951.0,SJ05,2.0,2023-03-12

In [8]:
samples_with_nan = pd.read_csv('../data/samples_1v.csv', index_col=None)
samples_with_nan['date_time_init'] = pd.to_datetime(samples_with_nan['date_time_init'])
samples_with_nan['date_time_end'] = pd.to_datetime(samples_with_nan['date_time_end'])

fecha_filtro = pd.to_datetime('2023-03-12').date()
df_filtrado = samples_with_nan[samples_with_nan['date_time_init'].dt.date == fecha_filtro]
df_filtrado.nsmallest(20, ['time_travel'])

,number,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
98150,44,79,80,79:80,2023-03-12 11:49:25,2023-03-12 08:53:30,-10555.0,15047288.0,15023026.0,SJ31,1.0,2023-03-12
98182,76,111,112,111:112,2023-03-12 12:19:34,2023-03-12 09:24:00,-10534.0,15051151.0,15027886.0,SJ31,1.0,2023-03-12
98176,70,105,106,105:106,2023-03-12 12:16:32,2023-03-12 09:21:06,-10526.0,15050280.0,15027629.0,SJ31,1.0,2023-03-12
98162,56,91,92,91:92,2023-03-12 12:02:40,2023-03-12 09:09:26,-10394.0,15048763.0,15026206.0,SJ31,1.0,2023-03-12
98158,52,87,88,87:88,2023-03-12 11:02:03,2023-03-12 09:03:47,-7096.0,NaN,NaN,NaN,NaN,NaN
98157,51,86,87,86:87,2023-03-12 11:56:29,2023-03-12 11:02:03,-3266.0,NaN,NaN,NaN,NaN,NaN
96607,78,113,114,113:114,2023-03-12 11:13:07,2023-03-12 11:13:15,8.0,NaN,NaN,NaN,NaN,NaN
96537,8,43,44,43:44,2023-03-12 10:08:41,2023-03-12 10:08:51,10.0,NaN,NaN,NaN,NaN,NaN
96856,78,113,114,113:114,2023-03-12 14:02:36,2023-03-12 14:02:46,10.0,NaN,NaN,NaN,NaN,NaN
96268,71,106,107,106:107,2023-03-12 11:51:49,2023-03-12 11:52:00,11.0,NaN,NaN,NaN,NaN,NaN
96897,36,71,72,71:72,2023-03-12 10:12:08,2023-03-12 10:12:19,11.0,NaN,NaN,NaN,NaN,NaN
95540,7,42,43,42:43,2023-03-12 11:55:46,2023-03-12 11:55:58,12.0,15047959.0,15047983.0,SJ04,1.0,2023-03-12
95541,8,43,44,43:44,2023-03-12 11:55:58,2023-03-12 11:56:10,12.0,15047983.0,15048008.0,SJ04,1.0,2023-03-12
95553,20,55,56,55:56,2023-03-12 12:10:40,2023-03-12 12:10:52,12.0,15049606.0,15049626.0,SJ04,1.0,2023-03-12
95581,48,83,84,83:84,2023-03-12 12:30:36,2023-03-12 12:30:48,12.0,15052341.0,15052344.0,SJ04,1.0,2023-03-12
95604,71,106,107,106:107,2023-03-12 12:57:31,2023-03-12 12:57:43,12.0,15055259.0,15055291.0,SJ04,1.0,2023-03-12
95606,73,108,109,108:109,2023-03-12 12:57:59,2023-03-12 12:58:11,12.0,15055322.0,15055343.0,SJ04,1.0,2023-03-12
95611,78,113,114,113:114,2023-03-12 13:01:13,2023-03-12 13:01:25,12.0,15055652.0,15055672.0,SJ04,1.0,2023-03-12
95613,80,115,116,115:116,2023-03-12 13:02:27,2023-03-12 13:02:39,12.0,15055782.0,15055803.0,SJ04,1.0,2023-03-12
95614,81,116,117,116:117,2023-03-12 13:02:39,2023-03-12 13:02:51,12.0,15055803.0,15055820.0,SJ04,1.0,2023-03-12

## Calcular promedio

In [ ]:
# calcular el promedio
means = []
for col in df_sp.columns:
    means.append(round(df_sp[col].mean(), 0))

print(means)

In [ ]:
gg = pd.read_csv('samples.csv')
gg

In [ ]:
def curar(row, df):
    print(row.name)
    if math.isnan(row['time_travel']):
        row['time_travel'] = means[row.name]
        if row.name == 0:
            row['date_time_end'] =  df.loc[row.name + 1, 'date_time_init']
            row['date_time_init'] = row['date_time_end'] - datetime.timedelta(seconds= row['time_travel'])
        else:
            row['date_time_init'] =  df.loc[row.name - 1, 'date_time_end']
            row['date_time_end'] =  row['date_time_init'] + datetime.timedelta(seconds= row['time_travel'])
    return row
    

for i, row in gg.iterrows():
        if math.isnan(row['time_travel']):
            travel_t = means[row.name]
            if row.name == 0:
                datetime_end =  gg.loc[i + 1, 'date_time_init']
                datetime_init = datetime_end - datetime.timedelta(seconds=travel_t)
            else:
                datetime_init =  df_af.loc[i - 1, 'date_time_end']
                datetime_end =  datetime_init + datetime.timedelta(seconds=travel_t)
            df_af.loc[df_af.shape[0]] = [row['init_stop'], row['end_stop'], row['linkref'],datetime_init, datetime_end, travel_t, np.nan, np.nan]
        else:
            df_af.loc[df_af.shape[0]] = list(row)

In [ ]:
# list_samples[85]
df_tmp = pd.concat(list_samples)
df_tmp.to_csv('samples.csv', index=False)