In [8]:
import pandas as pd
from haversine import haversine as hvs, Unit
import numpy as np
from collections import Counter
import math
from datetime import datetime, timedelta

# Procesar samples_with_nan

Crear una columna con un indice para los samples (1 sample es un recorrido completo)

In [11]:
# samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
samples_with_nan = pd.read_csv('../data/pcampo.csv', index_col=None)

# len(samples_with_nan['init_stop'].unique())   #83 paraderos  # 2560 samples con nan
#samples_with_nan['id_sample'] = samples_with_nan.apply(lambda row: int(row.name)//82) 
#samples_with_nan.apply(lambda row: int(row.name))#(//82) 
samples_with_nan['id_sample'] = samples_with_nan.index.map(lambda row: int(row)//83)
columna = samples_with_nan.pop('id_sample') # Extraemos la columna C y la guardamos en una variable
samples_with_nan.insert(0, 'id_sample', columna) # Insertamos la columna C en la posición 1
#samples_with_nan.to_csv('samples_with_nan.csv')
samples_with_nan.to_csv('samples_with_nan.csv', index=False)
samples_with_nan

,id_sample,init_stop,name,end_stop,name_end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
0,0,0,inicio,36,primer stop,0:36,2023-07-06 08:56:58,2023-07-06 08:58:25,87.0,8798.0,11645.0,SJ01,2.0,2023-07-06
1,0,36,primer stop,37,segundo stop,36:37,2023-07-06 08:58:25,2023-07-06 08:59:25,60.0,11645.0,13599.0,SJ01,2.0,2023-07-06
2,0,37,segundo stop,38,Ccollana,37:38,2023-07-06 08:59:25,2023-07-06 09:00:29,64.0,13599.0,15682.0,SJ01,2.0,2023-07-06
3,0,38,Ccollana,39,Puente Huaccoto,38:39,2023-07-06 09:00:29,2023-07-06 09:01:15,46.0,15682.0,17180.0,SJ01,2.0,2023-07-06
4,0,39,Puente Huaccoto,40,Kayra,39:40,2023-07-06 09:01:15,2023-07-06 09:02:05,50.0,17180.0,18858.0,SJ01,2.0,2023-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4892,58,113,Primero,114,Segundo,113:114,2023-07-06 16:13:01,2023-07-06 16:13:13,12.0,34996.0,35485.0,SJ43,5.0,2023-07-06
4893,58,114,Segundo,115,Reservorio,114:115,2023-07-06 16:13:13,2023-07-06 16:13:49,36.0,35485.0,17660.0,SJ43,5.0,2023-07-06
4894,58,115,Reservorio,116,Cuarto,115:116,2023-07-06 16:13:49,2023-07-06 16:14:01,12.0,17660.0,18089.0,SJ43,5.0,2023-07-06
4895,58,116,Cuarto,117,Quinto,116:117,2023-07-06 16:14:01,2023-07-06 16:14:13,12.0,18089.0,18587.0,SJ43,5.0,2023-07-06
4896,58,117,Quinto,118,Sexto,117:118,2023-07-06 16:14:13,2023-07-06 16:14:50,37.0,18587.0,19647.0,SJ43,5.0,2023-07-06

Si no se borró la columna 'Unnamed: 0', eliminarla y volver a guardar el dataframe en csv

In [10]:
#EJECUTAR CUANDO EXISTA LA COLUMNA UNNAMED 0
samples_with_nan = pd.read_csv('samples_with_nan.csv', index_col=None)
samples_with_nan.drop(columns=['Unnamed: 0'], inplace=True)
samples_with_nan.to_csv('samples_with_nan.csv', index=False)
samples_with_nan

KeyError: "['Unnamed: 0'] not found in axis"

### Filtro de samples de la columna time_travel para mostrar todos los menores a 12 segundos

In [12]:
# samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
samples_with_nan = pd.read_csv('../data/pcampo.csv', index_col=None)
#samples_with_nan.nlargest(50,columns='time_travel')
#samples_with_nan[samples_with_nan['time_travel']>=960]['id_sample'].unique #960 segundos equivale a 10 minutos
samples_with_nan[samples_with_nan['time_travel']<12]['id_sample'].unique().shape #960 segundos equivale a 10 minutos

(0,)

In [13]:
samples_with_nan.nlargest(30, 'time_travel')

,id_sample,init_stop,name,end_stop,name_end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
581,0,0,inicio,36,primer stop,0:36,2023-07-06 11:22:46,2023-07-06 11:43:43,1257.0,13735.0,32536.0,SJ05,3.0,2023-07-06
1245,0,0,inicio,36,primer stop,0:36,2023-07-06 13:32:36,2023-07-06 13:45:28,772.0,21692.0,9980.0,SJ13,4.0,2023-07-06
3070,82,117,Quinto,118,Sexto,117:118,2023-07-06 12:55:08,2023-07-06 13:05:55,647.0,25606.0,8673.0,SJ27,3.0,2023-07-06
3874,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 12:14:59,2023-07-06 12:22:15,436.0,21902.0,42498.0,SJ34,3.0,2023-07-06
3044,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 12:31:39,2023-07-06 12:37:41,362.0,17152.0,28521.0,SJ27,3.0,2023-07-06
3293,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 12:48:53,2023-07-06 12:54:48,355.0,13728.0,24740.0,SJ28,3.0,2023-07-06
58,58,93,Puente Santiago,94,Plaza Santiago,93:94,2023-07-06 09:52:32,2023-07-06 09:58:16,344.0,17070.0,28443.0,SJ01,2.0,2023-07-06
1411,0,0,inicio,36,primer stop,0:36,2023-07-06 13:44:34,2023-07-06 13:50:18,344.0,8139.0,19496.0,SJ15,8.0,2023-07-06
1079,0,0,inicio,36,primer stop,0:36,2023-07-06 13:37:39,2023-07-06 13:43:02,323.0,30939.0,4892.0,SJ12,4.0,2023-07-06
4537,55,90,Puente Grau,91,Belén,90:91,2023-07-06 12:46:44,2023-07-06 12:51:57,313.0,9978.0,19470.0,SJ41,2.0,2023-07-06
886,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 12:25:51,2023-07-06 12:31:01,310.0,6495.0,16080.0,SJ11,3.0,2023-07-06
470,55,90,Puente Grau,91,Belén,90:91,2023-07-06 12:58:45,2023-07-06 13:03:37,292.0,32153.0,4567.0,SJ04,4.0,2023-07-06
2797,58,93,Puente Santiago,94,Plaza Santiago,93:94,2023-07-06 10:07:53,2023-07-06 10:12:38,285.0,12342.0,22425.0,SJ26,3.0,2023-07-06
4786,55,90,Puente Grau,91,Belén,90:91,2023-07-06 12:52:01,2023-07-06 12:56:31,270.0,19696.0,27956.0,SJ43,4.0,2023-07-06
2407,0,0,inicio,36,primer stop,0:36,2023-07-06 10:07:22,2023-07-06 10:11:46,264.0,11315.0,20552.0,SJ24,2.0,2023-07-06
637,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 12:38:32,2023-07-06 12:42:55,263.0,30093.0,2145.0,SJ05,3.0,2023-07-06
2299,58,93,Puente Santiago,94,Plaza Santiago,93:94,2023-07-06 10:46:40,2023-07-06 10:51:03,263.0,16287.0,24456.0,SJ22,2.0,2023-07-06
1715,55,90,Puente Grau,91,Belén,90:91,2023-07-06 11:45:57,2023-07-06 11:50:11,254.0,293.0,8782.0,SJ17,3.0,2023-07-06
1909,0,0,inicio,36,primer stop,0:36,2023-07-06 11:07:39,2023-07-06 11:11:50,251.0,20723.0,28854.0,SJ20,3.0,2023-07-06
3395,75,110,Grifo entrada,111,Esquina,110:111,2023-07-06 15:18:39,2023-07-06 15:22:49,250.0,3756.0,6169.0,SJ30,2.0,2023-07-06
1882,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 12:05:27,2023-07-06 12:09:36,249.0,1534.0,10177.0,SJ18,3.0,2023-07-06
2214,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 13:35:36,2023-07-06 13:39:42,246.0,28764.0,34774.0,SJ21,3.0,2023-07-06
721,57,92,Centro comercial Paraíso,93,Puente Santiago,92:93,2023-07-06 10:20:13,2023-07-06 10:24:15,242.0,993.0,9133.0,SJ07,1.0,2023-07-06
3544,58,93,Puente Santiago,94,Plaza Santiago,93:94,2023-07-06 14:21:49,2023-07-06 14:25:51,242.0,9034.0,16221.0,SJ31,3.0,2023-07-06
636,55,90,Puente Grau,91,Belén,90:91,2023-07-06 12:34:32,2023-07-06 12:38:32,240.0,22788.0,30093.0,SJ05,3.0,2023-07-06
4870,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 15:49:30,2023-07-06 15:53:29,239.0,19740.0,26908.0,SJ43,5.0,2023-07-06
4538,56,91,Belén,92,Centro comercial Paraíso,91:92,2023-07-06 12:51:57,2023-07-06 12:55:54,237.0,19470.0,26839.0,SJ41,2.0,2023-07-06
4042,58,93,Puente Santiago,94,Plaza Santiago,93:94,2023-07-06 10:33:02,2023-07-06 10:36:58,236.0,25684.0,33681.0,SJ37,2.0,2023-07-06
1220,58,93,Puente Santiago,94,Plaza Santiago,93:94,2023-07-06 11:27:16,2023-07-06 11:31:10,234.0,22078.0,29404.0,SJ13,3.0,2023-07-06
1051,55,90,Puente Grau,91,Belén,90:91,2023-07-06 11:40:57,2023-07-06 11:44:49,232.0,23322.0,34543.0,SJ12,3.0,2023-07-06

In [17]:
samples_with_nan.nsmallest(30, 'time_travel')

,id_sample,init_stop,name,end_stop,name_end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
10,10,45,Tercero,46,Medio,45:46,2023-07-06 09:04:39,2023-07-06 09:04:51,12.0,23484.0,23879.0,SJ01,2.0,2023-07-06
20,20,55,Tingo,56,Teléfono,55:56,2023-07-06 09:15:56,2023-07-06 09:16:08,12.0,10924.0,11323.0,SJ01,2.0,2023-07-06
29,29,64,Mercadillo,65,Santa Rosa,64:65,2023-07-06 09:21:23,2023-07-06 09:21:35,12.0,22296.0,22412.0,SJ01,2.0,2023-07-06
32,32,67,Séptimo,68,Sexto,67:68,2023-07-06 09:23:45,2023-07-06 09:23:57,12.0,26951.0,27066.0,SJ01,2.0,2023-07-06
77,77,112,Subida,113,Primero,112:113,2023-07-06 10:11:05,2023-07-06 10:11:17,12.0,19280.0,19777.0,SJ01,2.0,2023-07-06
81,81,116,Cuarto,117,Quinto,116:117,2023-07-06 10:12:50,2023-07-06 10:13:02,12.0,23025.0,23705.0,SJ01,2.0,2023-07-06
101,18,53,San Martín,54,Maestro,53:54,2023-07-06 12:46:19,2023-07-06 12:46:31,12.0,9237.0,9564.0,SJ01,3.0,2023-07-06
113,30,65,Santa Rosa,66,Camionero,65:66,2023-07-06 12:53:46,2023-07-06 12:53:58,12.0,22848.0,23365.0,SJ01,3.0,2023-07-06
130,47,82,Amauta,83,Servicentro,82:83,2023-07-06 13:12:42,2023-07-06 13:12:54,12.0,20889.0,21298.0,SJ01,3.0,2023-07-06
160,77,112,Subida,113,Primero,112:113,2023-07-06 13:45:49,2023-07-06 13:46:01,12.0,10867.0,11256.0,SJ01,3.0,2023-07-06
173,7,42,Grifo Tapia,43,Posta,42:43,2023-07-06 08:57:55,2023-07-06 08:58:07,12.0,10681.0,11061.0,SJ03,2.0,2023-07-06
174,8,43,Posta,44,Romeritos,43:44,2023-07-06 08:58:07,2023-07-06 08:58:19,12.0,11061.0,11555.0,SJ03,2.0,2023-07-06
176,10,45,Tercero,46,Medio,45:46,2023-07-06 08:58:43,2023-07-06 08:58:55,12.0,12244.0,12674.0,SJ03,2.0,2023-07-06
195,29,64,Mercadillo,65,Santa Rosa,64:65,2023-07-06 09:15:05,2023-07-06 09:15:17,12.0,9231.0,9338.0,SJ03,2.0,2023-07-06
202,36,71,Tercero,72,Segundo,71:72,2023-07-06 09:20:08,2023-07-06 09:20:20,12.0,19597.0,20172.0,SJ03,2.0,2023-07-06
213,47,82,Amauta,83,Servicentro,82:83,2023-07-06 09:32:13,2023-07-06 09:32:25,12.0,7438.0,7575.0,SJ03,2.0,2023-07-06
257,8,43,Posta,44,Romeritos,43:44,2023-07-06 13:43:49,2023-07-06 13:44:01,12.0,6531.0,6944.0,SJ03,3.0,2023-07-06
272,23,58,Grifo,59,Puente Tupac Amarú,58:59,2023-07-06 13:54:02,2023-07-06 13:54:14,12.0,27256.0,27650.0,SJ03,3.0,2023-07-06
317,68,103,Colegio,104,Mercado,103:104,2023-07-06 14:44:21,2023-07-06 14:44:33,12.0,12967.0,13322.0,SJ03,3.0,2023-07-06
320,71,106,Gradas,107,Esquina,106:107,2023-07-06 14:46:42,2023-07-06 14:46:54,12.0,17017.0,17434.0,SJ03,3.0,2023-07-06
327,78,113,Primero,114,Segundo,113:114,2023-07-06 14:50:44,2023-07-06 14:50:56,12.0,24640.0,24971.0,SJ03,3.0,2023-07-06
329,80,115,Reservorio,116,Cuarto,115:116,2023-07-06 14:52:01,2023-07-06 14:52:13,12.0,27013.0,27428.0,SJ03,3.0,2023-07-06
330,81,116,Cuarto,117,Quinto,116:117,2023-07-06 14:52:13,2023-07-06 14:52:25,12.0,27428.0,27725.0,SJ03,3.0,2023-07-06
341,9,44,Romeritos,45,Tercero,44:45,2023-07-06 08:45:11,2023-07-06 08:45:23,12.0,21355.0,21833.0,SJ04,2.0,2023-07-06
342,10,45,Tercero,46,Medio,45:46,2023-07-06 08:45:23,2023-07-06 08:45:35,12.0,21833.0,21997.0,SJ04,2.0,2023-07-06
354,22,57,Universidad Andina,58,Grifo,57:58,2023-07-06 08:56:52,2023-07-06 08:57:04,12.0,8903.0,8982.0,SJ04,2.0,2023-07-06
404,72,107,Esquina,108,Salcantay,107:108,2023-07-06 09:51:58,2023-07-06 09:52:10,12.0,15858.0,16185.0,SJ04,2.0,2023-07-06
409,77,112,Subida,113,Primero,112:113,2023-07-06 09:54:16,2023-07-06 09:54:28,12.0,20482.0,20929.0,SJ04,2.0,2023-07-06
444,29,64,Mercadillo,65,Santa Rosa,64:65,2023-07-06 12:30:04,2023-07-06 12:30:16,12.0,14265.0,14544.0,SJ04,4.0,2023-07-06
485,70,105,Puerto,106,Gradas,105:106,2023-07-06 13:18:05,2023-07-06 13:18:17,12.0,30508.0,30901.0,SJ04,4.0,2023-07-06

In [18]:
samples_with_nan['time_travel'].isna().sum()

712

### Filtro de samples de la columna time_travel para moestrar todos los mayores a 960 segundos(10 minutos)

Mostrar el indice de los samples con time_travel mayor a 10 minutos

In [15]:
# samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
samples_with_nan = pd.read_csv('../data/pcampo.csv', index_col=None)

#samples_with_nan.nlargest(50,columns='time_travel')
#samples_with_nan[samples_with_nan['time_travel']>=960]['id_sample'].unique #960 segundos equivale a 10 minutos
samples_with_nan[samples_with_nan['time_travel']>=960]['id_sample'].unique() #960 segundos equivale a 10 minutos

array([0], dtype=int64)

Filtrar para eliminar y buscar samples manualmente con errores en el csv

In [16]:
#1182 DELETED SAMPLE 
#La ruta 0:36 tiene tiempos largos que fueron considerados.
# samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
samples_with_nan = pd.read_csv('../data/pcampo.csv', index_col=None)
samples_with_nan[samples_with_nan['id_sample']==1132].nlargest(20,'time_travel')

Empty DataFrame
Columns: [id_sample, init_stop, name, end_stop, name_end_stop, linkref, date_time_init, date_time_end, time_travel, init_idp, end_idp, veh, lap, date]
Index: []

Crear un dataframe nuevo con datos limpiados manualmente (tiempos de time_travel legitimos)

In [125]:
# samples_with_nan_part1 = pd.read_csv('../data/samples_with_nan-0-816.csv', index_col=None)
# samples_with_nan_part2 = pd.read_csv('../data/samples_with_nan-817-2560.csv', index_col=None)

samples_with_nan_part1 = samples_with_nan_part1[samples_with_nan_part1['id_sample']<=816]
samples_with_nan_part2 = samples_with_nan_part2[samples_with_nan_part2['id_sample']>816]
unido = pd.concat([samples_with_nan_part1,samples_with_nan_part2], axis=0)

#Guardar el dataframe generado
unido.to_csv('../data/samples_with_nan_fixed.csv', index=False)
#Mostrar los 20 primeros datos mayores con el time_travel
unido.nlargest(20,'time_travel')

,id_sample,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
51543,621,0,36,0:36,2023-03-06 09:57:29,2023-03-06 10:30:40,1991.0,14026875.0,14032850.0,SJ27,2.0,2023-03-06
10541,127,0,36,0:36,2023-03-01 14:04:39,2023-03-01 14:37:49,1990.0,13271047.0,13277666.0,SJ43,3.0,2023-03-01
67811,817,0,36,0:36,2023-03-08 13:13:37,2023-03-08 13:43:28,1791.0,14400162.0,14405374.0,SJ42,4.0,2023-03-08
15355,185,0,36,0:36,2023-03-02 09:16:27,2023-03-02 09:44:59,1712.0,13398974.0,13404743.0,SJ20,2.0,2023-03-02
156040,1881,0,36,0:36,2023-03-19 06:57:27,2023-03-19 07:25:01,1654.0,16172641.0,16175144.0,SJ15,1.0,2023-03-19
830,10,0,36,0:36,2023-03-01 14:02:10,2023-03-01 14:29:17,1627.0,13270563.0,13275804.0,SJ04,4.0,2023-03-01
108066,1303,0,36,0:36,2023-03-13 09:48:29,2023-03-13 10:14:56,1587.0,15148380.0,15153134.0,SJ41,2.0,2023-03-13
17845,215,0,36,0:36,2023-03-02 14:18:57,2023-03-02 14:44:37,1540.0,13461235.0,13465954.0,SJ28,4.0,2023-03-02
81091,977,0,36,0:36,2023-03-10 09:13:27,2023-03-10 09:38:50,1523.0,14704988.0,14710130.0,SJ19,2.0,2023-03-10
60839,733,0,36,0:36,2023-03-07 09:20:49,2023-03-07 09:45:42,1493.0,14192746.0,14197128.0,SJ41,2.0,2023-03-07
178201,2148,0,36,0:36,2023-03-21 15:49:23,2023-03-21 16:14:15,1492.0,16564451.0,16569307.0,SJ39,4.0,2023-03-21
137448,1657,0,36,0:36,2023-03-16 07:46:43,2023-03-16 08:11:00,1457.0,15648960.0,15653914.0,SJ41,2.0,2023-03-16
38512,464,0,36,0:36,2023-03-04 14:45:24,2023-03-04 15:09:15,1431.0,13826199.0,13830353.0,SJ34,4.0,2023-03-04
90470,1090,0,36,0:36,2023-03-11 14:17:43,2023-03-11 14:40:32,1369.0,14942796.0,14946750.0,SJ21,4.0,2023-03-11
8632,104,0,36,0:36,2023-03-01 14:11:36,2023-03-01 14:33:06,1290.0,13272406.0,13276728.0,SJ35,4.0,2023-03-01
127488,1537,0,36,0:36,2023-03-15 14:51:57,2023-03-15 15:12:48,1251.0,15550875.0,15554822.0,SJ41,4.0,2023-03-15
168075,2026,0,36,0:36,2023-03-20 10:54:52,2023-03-20 11:14:56,1204.0,16322803.0,16326635.0,SJ39,3.0,2023-03-20
94703,1141,0,36,0:36,2023-03-11 09:28:17,2023-03-11 09:48:14,1197.0,14890688.0,14894519.0,SJ39,2.0,2023-03-11
66068,796,0,36,0:36,2023-03-08 12:42:19,2023-03-08 13:01:38,1159.0,14394823.0,14398126.0,SJ27,2.0,2023-03-08
136867,1650,0,36,0:36,2023-03-16 08:05:40,2023-03-16 08:24:56,1156.0,15652764.0,15657141.0,SJ39,2.0,2023-03-16

In [33]:
samples_nan_backup = pd.read_csv('../data/samples_nan_backup.csv', index_col=None)
samples_nan_backup[(samples_nan_backup['linkref']=='0:36') & (samples_nan_backup['time_travel']>960)].shape

(39, 12)

In [35]:
samples_nan_backup[samples_nan_backup['time_travel']>960].shape

(86, 12)

In [36]:
86-39

47

In [12]:
samples_with_nan.nsmallest(30, 'time_travel')

,id_sample,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
167873,2022,82,83,82:83,2023-03-20 06:13:43,2023-03-20 06:13:53,10.0,16269633.0,16269656.0,SJ37,1.0,2023-03-20
1014,12,53,54,53:54,2023-03-01 10:55:49,2023-03-01 10:56:00,11.0,13233012.0,13233054.0,SJ05,2.0,2023-03-01
32070,386,67,68,67:68,2023-03-04 14:10:54,2023-03-04 14:11:05,11.0,13820185.0,13820219.0,SJ05,4.0,2023-03-04
46344,558,65,66,65:66,2023-03-06 12:54:52,2023-03-06 12:55:03,11.0,14059032.0,14059079.0,SJ05,3.0,2023-03-06
53899,649,67,68,67:68,2023-03-06 09:52:49,2023-03-06 09:53:00,11.0,14026068.0,14026111.0,SJ41,2.0,2023-03-06
117409,1414,82,83,82:83,2023-03-14 07:02:29,2023-03-14 07:02:40,11.0,15288247.0,15288284.0,SJ41,1.0,2023-03-14
129433,1559,71,72,71:72,2023-03-16 09:18:19,2023-03-16 09:18:30,11.0,15669142.0,15669187.0,SJ05,2.0,2023-03-16
146127,1760,82,83,82:83,2023-03-17 05:25:43,2023-03-17 05:25:54,11.0,15816980.0,15816990.0,SJ37,1.0,2023-03-17
147149,1772,108,109,108:109,2023-03-17 13:14:12,2023-03-17 13:14:23,11.0,15904671.0,15904705.0,SJ41,3.0,2023-03-17
147154,1772,113,114,113:114,2023-03-17 13:17:33,2023-03-17 13:17:44,11.0,15905251.0,15905286.0,SJ41,3.0,2023-03-17
183459,2210,64,65,64:65,2023-03-22 10:45:09,2023-03-22 10:45:20,11.0,16697771.0,16697792.0,SJ18,2.0,2023-03-22
187818,2262,107,108,107:108,2023-03-22 09:39:18,2023-03-22 09:39:29,11.0,16685005.0,16685052.0,SJ37,2.0,2023-03-22
187990,2264,113,114,113:114,2023-03-22 16:07:51,2023-03-22 16:08:02,11.0,16762003.0,16762036.0,SJ37,4.0,2023-03-22
200243,2412,82,83,82:83,2023-03-24 07:55:56,2023-03-24 07:56:07,11.0,17045379.0,17045415.0,SJ05,1.0,2023-03-24
7,0,42,43,42:43,2023-03-01 07:33:25,2023-03-01 07:33:37,12.0,13191699.0,13191737.0,SJ01,1.0,2023-03-01
8,0,43,44,43:44,2023-03-01 07:33:37,2023-03-01 07:33:49,12.0,13191737.0,13191788.0,SJ01,1.0,2023-03-01
20,0,55,56,55:56,2023-03-01 07:42:59,2023-03-01 07:43:11,12.0,13193461.0,13193493.0,SJ01,1.0,2023-03-01
77,0,112,113,112:113,2023-03-01 08:38:18,2023-03-01 08:38:30,12.0,13204585.0,13204642.0,SJ01,1.0,2023-03-01
78,0,113,114,113:114,2023-03-01 08:38:30,2023-03-01 08:38:42,12.0,13204642.0,13204654.0,SJ01,1.0,2023-03-01
106,1,58,59,58:59,2023-03-01 10:56:53,2023-03-01 10:57:05,12.0,13233260.0,13233303.0,SJ01,2.0,2023-03-01
113,1,65,66,65:66,2023-03-01 11:01:23,2023-03-01 11:01:35,12.0,13234158.0,13234199.0,SJ01,2.0,2023-03-01
115,1,67,68,67:68,2023-03-01 11:02:11,2023-03-01 11:02:23,12.0,13234323.0,13234358.0,SJ01,2.0,2023-03-01
161,1,113,114,113:114,2023-03-01 11:48:53,2023-03-01 11:49:05,12.0,13243687.0,13243731.0,SJ01,2.0,2023-03-01
163,1,115,116,115:116,2023-03-01 11:50:05,2023-03-01 11:50:17,12.0,13243928.0,13243962.0,SJ01,2.0,2023-03-01
164,1,116,117,116:117,2023-03-01 11:50:17,2023-03-01 11:50:29,12.0,13243962.0,13244007.0,SJ01,2.0,2023-03-01
193,2,62,63,62:63,2023-03-01 14:28:39,2023-03-01 14:28:51,12.0,13275676.0,13275712.0,SJ01,3.0,2023-03-01
237,2,106,107,106:107,2023-03-01 15:12:43,2023-03-01 15:12:55,12.0,13284645.0,13284682.0,SJ01,3.0,2023-03-01
247,2,116,117,116:117,2023-03-01 15:19:06,2023-03-01 15:19:18,12.0,13285880.0,13285922.0,SJ01,3.0,2023-03-01
256,3,42,43,42:43,2023-03-01 06:45:05,2023-03-01 06:45:17,12.0,13183042.0,13183072.0,SJ03,1.0,2023-03-01
259,3,45,46,45:46,2023-03-01 06:45:58,2023-03-01 06:46:10,12.0,13183180.0,13183223.0,SJ03,1.0,2023-03-01

# Porcentaje de nan en time_travel

In [6]:
samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
#samples_with_nan.nsmallest(50,columns='time_travel')
samples_with_nan['time_travel'].isna().sum()/samples_with_nan['time_travel'].shape[0]

0.14896460843373494

## Filtrar por fecha

In [7]:
samples_with_nan = pd.read_csv('../data/samples_with_nan.csv', index_col=None)
samples_with_nan['date_time_init'] = pd.to_datetime(samples_with_nan['date_time_init'])
samples_with_nan['date_time_end'] = pd.to_datetime(samples_with_nan['date_time_end'])

fecha_filtro = pd.to_datetime('2023-03-12').date()
df_filtrado = samples_with_nan[samples_with_nan['date_time_init'].dt.date == fecha_filtro]
df_filtrado.nsmallest(20, ['time_travel'])

,id_sample,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
95540,1151,42,43,42:43,2023-03-12 11:55:46,2023-03-12 11:55:58,12.0,15047959.0,15047983.0,SJ04,1.0,2023-03-12
95541,1151,43,44,43:44,2023-03-12 11:55:58,2023-03-12 11:56:10,12.0,15047983.0,15048008.0,SJ04,1.0,2023-03-12
95553,1151,55,56,55:56,2023-03-12 12:10:40,2023-03-12 12:10:52,12.0,15049606.0,15049626.0,SJ04,1.0,2023-03-12
95581,1151,83,84,83:84,2023-03-12 12:30:36,2023-03-12 12:30:48,12.0,15052341.0,15052344.0,SJ04,1.0,2023-03-12
95604,1151,106,107,106:107,2023-03-12 12:57:31,2023-03-12 12:57:43,12.0,15055259.0,15055291.0,SJ04,1.0,2023-03-12
95606,1151,108,109,108:109,2023-03-12 12:57:59,2023-03-12 12:58:11,12.0,15055322.0,15055343.0,SJ04,1.0,2023-03-12
95611,1151,113,114,113:114,2023-03-12 13:01:13,2023-03-12 13:01:25,12.0,15055652.0,15055672.0,SJ04,1.0,2023-03-12
95613,1151,115,116,115:116,2023-03-12 13:02:27,2023-03-12 13:02:39,12.0,15055782.0,15055803.0,SJ04,1.0,2023-03-12
95614,1151,116,117,116:117,2023-03-12 13:02:39,2023-03-12 13:02:51,12.0,15055803.0,15055820.0,SJ04,1.0,2023-03-12
95626,1152,45,46,45:46,2023-03-12 06:28:34,2023-03-12 06:28:46,12.0,15013171.0,15013176.0,SJ05,1.0,2023-03-12
95640,1152,59,60,59:60,2023-03-12 06:40:39,2023-03-12 06:40:51,12.0,15013374.0,15013376.0,SJ05,1.0,2023-03-12
95654,1152,73,74,73:74,2023-03-12 06:50:06,2023-03-12 06:50:18,12.0,15013556.0,15013559.0,SJ05,1.0,2023-03-12
95686,1152,105,106,105:106,2023-03-12 07:20:58,2023-03-12 07:21:10,12.0,15014041.0,15014045.0,SJ05,1.0,2023-03-12
95687,1152,106,107,106:107,2023-03-12 07:21:10,2023-03-12 07:21:22,12.0,15014045.0,15014050.0,SJ05,1.0,2023-03-12
95693,1152,112,113,112:113,2023-03-12 07:24:39,2023-03-12 07:24:51,12.0,15014102.0,15014105.0,SJ05,1.0,2023-03-12
95694,1152,113,114,113:114,2023-03-12 07:24:51,2023-03-12 07:25:03,12.0,15014105.0,15014113.0,SJ05,1.0,2023-03-12
95696,1152,115,116,115:116,2023-03-12 07:25:48,2023-03-12 07:26:00,12.0,15014339.0,15014343.0,SJ05,1.0,2023-03-12
95697,1152,116,117,116:117,2023-03-12 07:26:00,2023-03-12 07:26:12,12.0,15014343.0,15014345.0,SJ05,1.0,2023-03-12
95722,1153,58,59,58:59,2023-03-12 09:26:34,2023-03-12 09:26:46,12.0,15028480.0,15028498.0,SJ05,2.0,2023-03-12
95746,1153,82,83,82:83,2023-03-12 09:44:07,2023-03-12 09:44:19,12.0,15031935.0,15031951.0,SJ05,2.0,2023-03-12

In [8]:
samples_with_nan = pd.read_csv('../data/samples_1v.csv', index_col=None)
samples_with_nan['date_time_init'] = pd.to_datetime(samples_with_nan['date_time_init'])
samples_with_nan['date_time_end'] = pd.to_datetime(samples_with_nan['date_time_end'])

fecha_filtro = pd.to_datetime('2023-03-12').date()
df_filtrado = samples_with_nan[samples_with_nan['date_time_init'].dt.date == fecha_filtro]
df_filtrado.nsmallest(20, ['time_travel'])

,number,init_stop,end_stop,linkref,date_time_init,date_time_end,time_travel,init_idp,end_idp,veh,lap,date
98150,44,79,80,79:80,2023-03-12 11:49:25,2023-03-12 08:53:30,-10555.0,15047288.0,15023026.0,SJ31,1.0,2023-03-12
98182,76,111,112,111:112,2023-03-12 12:19:34,2023-03-12 09:24:00,-10534.0,15051151.0,15027886.0,SJ31,1.0,2023-03-12
98176,70,105,106,105:106,2023-03-12 12:16:32,2023-03-12 09:21:06,-10526.0,15050280.0,15027629.0,SJ31,1.0,2023-03-12
98162,56,91,92,91:92,2023-03-12 12:02:40,2023-03-12 09:09:26,-10394.0,15048763.0,15026206.0,SJ31,1.0,2023-03-12
98158,52,87,88,87:88,2023-03-12 11:02:03,2023-03-12 09:03:47,-7096.0,NaN,NaN,NaN,NaN,NaN
98157,51,86,87,86:87,2023-03-12 11:56:29,2023-03-12 11:02:03,-3266.0,NaN,NaN,NaN,NaN,NaN
96607,78,113,114,113:114,2023-03-12 11:13:07,2023-03-12 11:13:15,8.0,NaN,NaN,NaN,NaN,NaN
96537,8,43,44,43:44,2023-03-12 10:08:41,2023-03-12 10:08:51,10.0,NaN,NaN,NaN,NaN,NaN
96856,78,113,114,113:114,2023-03-12 14:02:36,2023-03-12 14:02:46,10.0,NaN,NaN,NaN,NaN,NaN
96268,71,106,107,106:107,2023-03-12 11:51:49,2023-03-12 11:52:00,11.0,NaN,NaN,NaN,NaN,NaN
96897,36,71,72,71:72,2023-03-12 10:12:08,2023-03-12 10:12:19,11.0,NaN,NaN,NaN,NaN,NaN
95540,7,42,43,42:43,2023-03-12 11:55:46,2023-03-12 11:55:58,12.0,15047959.0,15047983.0,SJ04,1.0,2023-03-12
95541,8,43,44,43:44,2023-03-12 11:55:58,2023-03-12 11:56:10,12.0,15047983.0,15048008.0,SJ04,1.0,2023-03-12
95553,20,55,56,55:56,2023-03-12 12:10:40,2023-03-12 12:10:52,12.0,15049606.0,15049626.0,SJ04,1.0,2023-03-12
95581,48,83,84,83:84,2023-03-12 12:30:36,2023-03-12 12:30:48,12.0,15052341.0,15052344.0,SJ04,1.0,2023-03-12
95604,71,106,107,106:107,2023-03-12 12:57:31,2023-03-12 12:57:43,12.0,15055259.0,15055291.0,SJ04,1.0,2023-03-12
95606,73,108,109,108:109,2023-03-12 12:57:59,2023-03-12 12:58:11,12.0,15055322.0,15055343.0,SJ04,1.0,2023-03-12
95611,78,113,114,113:114,2023-03-12 13:01:13,2023-03-12 13:01:25,12.0,15055652.0,15055672.0,SJ04,1.0,2023-03-12
95613,80,115,116,115:116,2023-03-12 13:02:27,2023-03-12 13:02:39,12.0,15055782.0,15055803.0,SJ04,1.0,2023-03-12
95614,81,116,117,116:117,2023-03-12 13:02:39,2023-03-12 13:02:51,12.0,15055803.0,15055820.0,SJ04,1.0,2023-03-12

## Calcular promedio

In [47]:
dt_with_nan = pd.read_csv('../data/samples_with_nan_fixed.csv', sep=',')
dt_with_nan['date_time_init'] = pd.to_datetime(dt_with_nan['date_time_init'])
dt_with_nan['date_time_end'] = pd.to_datetime(dt_with_nan['date_time_end'])
dt_with_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212397 entries, 0 to 212396
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_sample       212397 non-null  int64
 1   init_stop       212397 non-null  int64
 2   end_stop        212397 non-null  int64
 3   linkref         212397 non-null  object
 4   date_time_init  180721 non-null  datetime64[ns]
 5   date_time_end   180721 non-null  datetime64[ns]
 6   time_travel     180721 non-null  float64
 7   init_idp        180721 non-null  float64
 8   end_idp         180721 non-null  float64
 9   veh             180721 non-null  object
 10  lap             180721 non-null  float64
 11  date            180721 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 19.4+ MB

In [48]:
dt_with_nan['time_travel'].isna().sum()/dt_with_nan.shape[0]

0.14913581641925264

In [49]:
id_samples = dt_with_nan['id_sample'].unique().tolist()
len(id_samples)

2559

In [50]:
means_dict = dt_with_nan.groupby('linkref', observed=False).agg({'time_travel':[np.mean]})[('time_travel', 'mean')].to_list()
len(means_dict)

83

In [51]:
from more_itertools import consecutive_groups

def intervals(numeros):
    intervals = []
    for group in consecutive_groups(numeros):
        group = list(group)
        if len(group) == 1:
            intervals.append(tuple(group))
        else:
            intervals.append(tuple(group))

    return intervals

In [53]:
list_df_listos = [] 
for _, df_sample in dt_with_nan.groupby('id_sample'):
    # identificar los intervalos con nans
    df_sample.reset_index(inplace=True)
    index_nans = df_sample.index[pd.isna(df_sample['time_travel'])]
    inter_nans = intervals(list(index_nans))
    df_sample.insert(loc=2, column='id_linkref', value=df_sample.index)

    for gap in inter_nans:
        # generar los time travel
        means = [means_dict[i] for i in gap]

        # si hay nans en el medio, ajustamos means
        if gap[0] != 0 and gap[-1] != 82:
            time_init = df_sample.loc[gap[0] - 1, 'date_time_end']
            time_end = df_sample.loc[gap[-1] + 1, 'date_time_init']
            dif_time =  time_end - time_init
            means = list(map(lambda e: dif_time.total_seconds() * (e / sum(means)), means))

        # colocamos means
        for i in range(len(gap)):
            df_sample.loc[gap[i], 'time_travel'] = round(means[i], 0)
            if 0 not in gap:
                df_sample.loc[gap[i], 'date_time_init'] = df_sample.loc[gap[i]-1, 'date_time_end']
                df_sample.loc[gap[i], 'date_time_end'] = df_sample.loc[gap[i], 'date_time_init'] + timedelta(seconds=round(means[i], 0))
            else:
                j = (i+1)*(-1)
                df_sample.loc[gap[j], 'date_time_end'] = df_sample.loc[gap[j]+1, 'date_time_init']
                df_sample.loc[gap[j], 'date_time_init'] = df_sample.loc[gap[j], 'date_time_end'] - timedelta(seconds=round(means[i], 0))
    list_df_listos.append(df_sample)

In [54]:
print(list_df_listos[2000].to_string())

     index  id_sample  id_linkref  init_stop  end_stop  linkref      date_time_init       date_time_end  time_travel    init_idp     end_idp   veh  lap        date
0   166000       2001           0          0        36     0:36 2023-03-20 12:23:38 2023-03-20 12:24:52         74.0  16340049.0  16340279.0  SJ28  3.0  2023-03-20
1   166001       2001           1         36        37    36:37 2023-03-20 12:24:52 2023-03-20 12:26:15         83.0  16340279.0  16340536.0  SJ28  3.0  2023-03-20
2   166002       2001           2         37        38    37:38 2023-03-20 12:26:15 2023-03-20 12:27:59        104.0  16340536.0  16340844.0  SJ28  3.0  2023-03-20
3   166003       2001           3         38        39    38:39 2023-03-20 12:27:59 2023-03-20 12:28:47         48.0  16340844.0  16340991.0  SJ28  3.0  2023-03-20
4   166004       2001           4         39        40    39:40 2023-03-20 12:28:47 2023-03-20 12:29:25         38.0  16340991.0  16341112.0  SJ28  3.0  2023-03-20
5   166005       2001           5         40        41    40:41 2023-03-20 12:29:25 2023-03-20 12:30:19         54.0  16341112.0  16341291.0  SJ28  3.0  2023-03-20
6   166006       2001           6         41        42    41:42 2023-03-20 12:30:19 2023-03-20 12:30:49         30.0  16341291.0  16341390.0  SJ28  3.0  2023-03-20
7   166007       2001           7         42        43    42:43 2023-03-20 12:30:49 2023-03-20 12:31:30         41.0  16341390.0  16341528.0  SJ28  3.0  2023-03-20
8   166008       2001           8         43        44    43:44 2023-03-20 12:31:30 2023-03-20 12:31:42         12.0  16341528.0  16341569.0  SJ28  3.0  2023-03-20
9   166009       2001           9         44        45    44:45 2023-03-20 12:31:42 2023-03-20 12:32:06         24.0  16341569.0  16341618.0  SJ28  3.0  2023-03-20
10  166010       2001          10         45        46    45:46 2023-03-20 12:32:06 2023-03-20 12:32:40         34.0         NaN         NaN   NaN  NaN         NaN
11  166011       2001          11         46        47    46:47 2023-03-20 12:32:40 2023-03-20 12:33:04         24.0         NaN         NaN   NaN  NaN         NaN
12  166012       2001          12         47        48    47:48 2023-03-20 12:33:04 2023-03-20 12:34:56        112.0  16341813.0  16342171.0  SJ28  3.0  2023-03-20
13  166013       2001          13         48        49    48:49 2023-03-20 12:34:56 2023-03-20 12:37:33        157.0  16342171.0  16342664.0  SJ28  3.0  2023-03-20
14  166014       2001          14         49        50    49:50 2023-03-20 12:37:33 2023-03-20 12:38:21         48.0  16342664.0  16342831.0  SJ28  3.0  2023-03-20
15  166015       2001          15         50        51    50:51 2023-03-20 12:38:21 2023-03-20 12:38:48         27.0         NaN         NaN   NaN  NaN         NaN
16  166016       2001          16         51        52    51:52 2023-03-20 12:38:48 2023-03-20 12:38:57          9.0         NaN         NaN   NaN  NaN         NaN
17  166017       2001          17         52        53    52:53 2023-03-20 12:38:57 2023-03-20 12:40:07         70.0  16342952.0  16343203.0  SJ28  3.0  2023-03-20
18  166018       2001          18         53        54    53:54 2023-03-20 12:40:07 2023-03-20 12:40:31         24.0  16343203.0  16343289.0  SJ28  3.0  2023-03-20
19  166019       2001          19         54        55    54:55 2023-03-20 12:40:31 2023-03-20 12:41:12         41.0  16343289.0  16343432.0  SJ28  3.0  2023-03-20
20  166020       2001          20         55        56    55:56 2023-03-20 12:41:12 2023-03-20 12:41:36         24.0  16343432.0  16343511.0  SJ28  3.0  2023-03-20
21  166021       2001          21         56        57    56:57 2023-03-20 12:41:36 2023-03-20 12:42:17         41.0  16343511.0  16343656.0  SJ28  3.0  2023-03-20
22  166022       2001          22         57        58    57:58 2023-03-20 12:42:17 2023-03-20 12:43:01         44.0  16343656.0  16343791.0  SJ28  3.0  2023-03-20
23  166023       2001          23         58        59    58:59 2023-03-20 12:43:01 2023-03-20 12:43:43         42.0  16343791.0  16343914.0  SJ28  3.0  2023-03-20
24  166024       2001          24         59        60    59:60 2023-03-20 12:43:43 2023-03-20 12:44:10         27.0  16343914.0  16344017.0  SJ28  3.0  2023-03-20
25  166025       2001          25         60        61    60:61 2023-03-20 12:44:10 2023-03-20 12:44:54         44.0  16344017.0  16344154.0  SJ28  3.0  2023-03-20
26  166026       2001          26         61        62    61:62 2023-03-20 12:44:54 2023-03-20 12:45:48         54.0  16344154.0  16344326.0  SJ28  3.0  2023-03-20
27  166027       2001          27         62        63    62:63 2023-03-20 12:45:48 2023-03-20 12:46:30         42.0         NaN         NaN   NaN  NaN         NaN
28  166028       2001          28         63        64    63:64 2023-03-20 12:46:30 2023-03-20 12:46:58         28.0         NaN         NaN   NaN  NaN         NaN
29  166029       2001          29         64        65    64:65 2023-03-20 12:46:58 2023-03-20 12:48:24         86.0         NaN         NaN   NaN  NaN         NaN
30  166030       2001          30         65        66    65:66 2023-03-20 12:48:24 2023-03-20 12:48:48         24.0  16344829.0  16344931.0  SJ28  3.0  2023-03-20
31  166031       2001          31         66        67    66:67 2023-03-20 12:48:48 2023-03-20 12:49:12         24.0  16344931.0  16344993.0  SJ28  3.0  2023-03-20
32  166032       2001          32         67        68    67:68 2023-03-20 12:49:12 2023-03-20 12:49:39         27.0  16344993.0  16345093.0  SJ28  3.0  2023-03-20
33  166033       2001          33         68        69    68:69 2023-03-20 12:49:39 2023-03-20 12:50:03         24.0  16345093.0  16345186.0  SJ28  3.0  2023-03-20
34  166034       2001          34         69        70    69:70 2023-03-20 12:50:03 2023-03-20 12:51:21         78.0  16345186.0  16345436.0  SJ28  3.0  2023-03-20
35  166035       2001          35         70        71    70:71 2023-03-20 12:51:21 2023-03-20 12:52:24         63.0  16345436.0  16345618.0  SJ28  3.0  2023-03-20
36  166036       2001          36         71        72    71:72 2023-03-20 12:52:24 2023-03-20 12:52:37         13.0  16345618.0  16345659.0  SJ28  3.0  2023-03-20
37  166037       2001          37         72        73    72:73 2023-03-20 12:52:37 2023-03-20 12:53:21         44.0  16345659.0  16345819.0  SJ28  3.0  2023-03-20
38  166038       2001          38         73        74    73:74 2023-03-20 12:53:21 2023-03-20 12:53:59         38.0  16345819.0  16345908.0  SJ28  3.0  2023-03-20
39  166039       2001          39         74        75    74:75 2023-03-20 12:53:59 2023-03-20 12:55:00         61.0  16345908.0  16346109.0  SJ28  3.0  2023-03-20
40  166040       2001          40         75        76    75:76 2023-03-20 12:55:00 2023-03-20 12:55:54         54.0  16346109.0  16346289.0  SJ28  3.0  2023-03-20
41  166041       2001          41         76        77    76:77 2023-03-20 12:55:54 2023-03-20 12:56:46         52.0  16346289.0  16346441.0  SJ28  3.0  2023-03-20
42  166042       2001          42         77        78    77:78 2023-03-20 12:56:46 2023-03-20 12:58:02         76.0  16346441.0  16346695.0  SJ28  3.0  2023-03-20
43  166043       2001          43         78        79    78:79 2023-03-20 12:58:02 2023-03-20 12:59:15         73.0  16346695.0  16346916.0  SJ28  3.0  2023-03-20
44  166044       2001          44         79        80    79:80 2023-03-20 12:59:15 2023-03-20 13:01:25        130.0  16346916.0  16347329.0  SJ28  3.0  2023-03-20
45  166045       2001          45         80        81    80:81 2023-03-20 13:01:25 2023-03-20 13:03:07        102.0  16347329.0  16347649.0  SJ28  3.0  2023-03-20
46  166046       2001          46         81        82    81:82 2023-03-20 13:03:07 2023-03-20 13:04:23         76.0  16347649.0  16347888.0  SJ28  3.0  2023-03-20
47  166047       2001          47         82        83    82:83 2023-03-20 13:04:23 2023-03-20 13:04:50         27.0  16347888.0  16347973.0  SJ28  3.0  2023-03-20
48  166048       2001          48         83        84    83:84 2023-03-20 13:04:50 2023-03-20 13:07:06        136.0         NaN         NaN   NaN  NaN         NaN
49  166049       2001          49         84        85    84:85 2023-03-20 13:07:06 2023-03-20 13:10:12        186.0         NaN         NaN   NaN  NaN         NaN
50  166050       2001          50         85        86    85:86 2023-03-20 13:10:12 2023-03-20 13:11:33         81.0  16348942.0  16349191.0  SJ28  3.0  2023-03-20
51  166051       2001          51         86        87    86:87 2023-03-20 13:11:33 2023-03-20 13:12:13         40.0  16349191.0  16349315.0  SJ28  3.0  2023-03-20
52  166052       2001          52         87        88    87:88 2023-03-20 13:12:13 2023-03-20 13:13:57        104.0  16349315.0  16349597.0  SJ28  3.0  2023-03-20
53  166053       2001          53         88        89    88:89 2023-03-20 13:13:57 2023-03-20 13:15:19         82.0  16349597.0  16349834.0  SJ28  3.0  2023-03-20
54  166054       2001          54         89        90    89:90 2023-03-20 13:15:19 2023-03-20 13:16:39         80.0  16349834.0  16350069.0  SJ28  3.0  2023-03-20
55  166055       2001          55         90        91    90:91 2023-03-20 13:16:39 2023-03-20 13:19:51        192.0  16350069.0  16350606.0  SJ28  3.0  2023-03-20
56  166056       2001          56         91        92    91:92 2023-03-20 13:19:51 2023-03-20 13:23:13        202.0  16350606.0  16351235.0  SJ28  3.0  2023-03-20
57  166057       2001          57         92        93    92:93 2023-03-20 13:23:13 2023-03-20 13:23:29         16.0  16351235.0  16351276.0  SJ28  3.0  2023-03-20
58  166058       2001          58         93        94    93:94 2023-03-20 13:23:29 2023-03-20 13:26:02        153.0  16351276.0  16351715.0  SJ28  3.0  2023-03-20
59  166059       2001          59         94        95    94:95 2023-03-20 13:26:02 2023-03-20 13:26:29         27.0  16351715.0  16351806.0  SJ28  3.0  2023-03-20
60  166060       2001          60         95        96    95:96 2023-03-20 13:26:29 2023-03-20 13:27:50         81.0  16351806.0  16352039.0  SJ28  3.0  2023-03-20
61  166061       2001          61         96        97    96:97 2023-03-20 13:27:50 2023-03-20 13:28:02         12.0  16352039.0  16352082.0  SJ28  3.0  2023-03-20
62  166062       2001          62         97        98    97:98 2023-03-20 13:28:02 2023-03-20 13:28:53         51.0  16352082.0  16352239.0  SJ28  3.0  2023-03-20
63  166063       2001          63         98        99    98:99 2023-03-20 13:28:53 2023-03-20 13:29:39         46.0  16352239.0  16352364.0  SJ28  3.0  2023-03-20
64  166064       2001          64         99       100   99:100 2023-03-20 13:29:39 2023-03-20 13:30:36         57.0  16352364.0  16352542.0  SJ28  3.0  2023-03-20
65  166065       2001          65        100       101  100:101 2023-03-20 13:30:36 2023-03-20 13:31:16         40.0  16352542.0  16352650.0  SJ28  3.0  2023-03-20
66  166066       2001          66        101       102  101:102 2023-03-20 13:31:16 2023-03-20 13:31:52         36.0  16352650.0  16352764.0  SJ28  3.0  2023-03-20
67  166067       2001          67        102       103  102:103 2023-03-20 13:31:52 2023-03-20 13:32:18         26.0  16352764.0  16352838.0  SJ28  3.0  2023-03-20
68  166068       2001          68        103       104  103:104 2023-03-20 13:32:18 2023-03-20 13:32:44         26.0  16352838.0  16352927.0  SJ28  3.0  2023-03-20
69  166069       2001          69        104       105  104:105 2023-03-20 13:32:44 2023-03-20 13:34:12         88.0  16352927.0  16353194.0  SJ28  3.0  2023-03-20
70  166070       2001          70        105       106  105:106 2023-03-20 13:34:12 2023-03-20 13:34:48         36.0  16353194.0  16353307.0  SJ28  3.0  2023-03-20
71  166071       2001          71        106       107  106:107 2023-03-20 13:34:48 2023-03-20 13:35:03         15.0  16353307.0  16353355.0  SJ28  3.0  2023-03-20
72  166072       2001          72        107       108  107:108 2023-03-20 13:35:03 2023-03-20 13:35:19         16.0  16353355.0  16353420.0  SJ28  3.0  2023-03-20
73  166073       2001          73        108       109  108:109 2023-03-20 13:35:19 2023-03-20 13:35:47         28.0  16353420.0  16353517.0  SJ28  3.0  2023-03-20
74  166074       2001          74        109       110  109:110 2023-03-20 13:35:47 2023-03-20 13:36:24         37.0  16353517.0  16353624.0  SJ28  3.0  2023-03-20
75  166075       2001          75        110       111  110:111 2023-03-20 13:36:24 2023-03-20 13:37:22         58.0  16353624.0  16353807.0  SJ28  3.0  2023-03-20
76  166076       2001          76        111       112  111:112 2023-03-20 13:37:22 2023-03-20 13:38:58         96.0  16353807.0  16354131.0  SJ28  3.0  2023-03-20
77  166077       2001          77        112       113  112:113 2023-03-20 13:38:58 2023-03-20 13:39:13         15.0  16354131.0  16354169.0  SJ28  3.0  2023-03-20
78  166078       2001          78        113       114  113:114 2023-03-20 13:39:13 2023-03-20 13:39:25         12.0  16354169.0  16354207.0  SJ28  3.0  2023-03-20
79  166079       2001          79        114       115  114:115 2023-03-20 13:39:25 2023-03-20 13:40:25         60.0  16354207.0  16354417.0  SJ28  3.0  2023-03-20
80  166080       2001          80        115       116  115:116 2023-03-20 13:40:25 2023-03-20 13:41:00         35.0  16354417.0  16354534.0  SJ28  3.0  2023-03-20
81  166081       2001          81        116       117  116:117 2023-03-20 13:41:00 2023-03-20 13:41:21         21.0  16354534.0  16354603.0  SJ28  3.0  2023-03-20
82  166082       2001          82        117       118  117:118 2023-03-20 13:41:21 2023-03-20 13:41:57         36.0  16354603.0  16354723.0  SJ28  3.0  2023-03-20

In [46]:
df_tmp = pd.concat(list_df_listos)
# df_tmp.to_csv('../data/samples_without_nan.csv')